<div class="container-fluid mt--7" *ngIf="userService.isAdmin() || userService.isServiceLeader()">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">
          <app-loading-bar [isLoading]="isLoading || isSaving"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md mb-3">
              Данные заказ-наряда: {{model && model.is_new ? 'добалвение' : 'редактирование'}}
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-blue" (click)="location.back()">
                Назад
              </button>
              <button class="btn btn-sm btn-buro-blue" (click)="save()" [disabled]="isSaving">
                Сохранить
              </button>
<!--              <app-report-button *ngIf="userService.currentUser != null" [disabled]="model != null"-->
<!--                                 [model]="model" [withPrint]="false"></app-report-button>-->
<!--              <app-report-button *ngIf="userService.currentUser != null" [printDisabled]="model != null"-->
<!--                                 [model]="model"></app-report-button>-->
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="row form-group">

            <div class="col-md-3 mb-3">

              <h3>Заказ-наряд</h3>

              <div class="row form-group">
                <div class="col-lg-12">
                  <label class="form-control-label" for="number-input">Номер</label>
                  <input class="form-control form-control-sm form-control-alternative" id="number-input" disabled
                         [(ngModel)]="model.attributes.number" placeholder="Номер заказ-наряда (заполняется автоматически)">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <label class="form-control-label" for="status-select">Статус</label>
                  <select id="status-select" class="form-control form-control-sm form-control-alternative"
                          [(ngModel)]="model.attributes.status">
                    <option *ngFor="let status of model.getStatuses()" [selected]="model.attributes.status === status.id" [ngValue]="status.id">
                      {{status.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <label class="form-control-label" for="paid-status-select">Статус оплаты</label>
                  <select id="paid-status-select" class="form-control form-control-sm form-control-alternative"
                          [(ngModel)]="model.attributes.paidStatus">
                    <option *ngFor="let status of model.getPaidStatuses()" [selected]="model.attributes.paidStatus === status.id" [ngValue]="status.id">
                      {{status.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <label class="form-control-label" for="start-date-picker">Дата начала ремонта</label>
                  <div style="max-height: 29px;">
                    <input class="form-control form-control-alternative form-control-sm" id="start-date-picker" [mode]="'daytime'"
                           placeholder="Дата начала ремонта"
                           (ngModelChange)="setStartDate($event)" [(ngModel)]="startDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <label class="form-control-label" for="end-date-picker">Дата окончания ремонта</label>
                  <div style="max-height: 29px;">
                    <input class="form-control form-control-alternative form-control-sm" id="end-date-picker" [mode]="'daytime'"
                           placeholder="Дата окончания ремонта"
                           (ngModelChange)="setEndDate($event)" [(ngModel)]="endDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-3 mb-3">

              <div class="row">
                <div class="col-md">
                  <h3>Автомобиль</h3>
                </div>
                <div class="col-md-auto">
                  <div class="btn-group btn-group-sm">
                    <button
                      class="btn btn-sn btn-buro-blue"
                      title="Добавить новый"
                      (click)="newVehicle()"
                      [disabled]="model.relationships.vehicle.data && model.relationships.vehicle.data.is_new"
                    >
                      <i class="fas fa-file"></i>
                    </button>
                    <button
                      class="btn btn-sn btn-buro-blue"
                      title="Найти ранее добавленный"
                      (click)="openVehiclesModal()"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                    <button
                      class="btn btn-sn btn-buro-blue"
                      [class.active]="vehicleEdit"
                      title="Редактировать текущий"
                      (click)="vehicleEdit = !vehicleEdit"
                      [disabled]="!model.relationships.vehicle.data || model.relationships.vehicle.data.is_new"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="model.relationships.vehicle.data">
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="model-input">Марка/модель</label>
                    <div class="input-group input-group-alternative input-group-sm">
                      <input class="form-control form-control-sm form-control-alternative" id="model-input"
                             [disabled]="!vehicleEdit && !model.relationships.vehicle.data.is_new"
                             [(ngModel)]="model.relationships.vehicle.data.attributes.modelName" placeholder="Марка/модель">
                      <div class="input-group-append">
                        <button class="btn btn-buro-blue" type="button" (click)="openVehicleDictionariesModal()"
                                title="Найти в справочнике"
                                [disabled]="!vehicleEdit && !model.relationships.vehicle.data.is_new">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="reg-number-input">Регистрационный номер</label>
                    <input class="form-control form-control-sm form-control-alternative" id="reg-number-input"
                           [disabled]="!vehicleEdit && !model.relationships.vehicle.data.is_new"
                           [(ngModel)]="model.relationships.vehicle.data.attributes.regNumber" placeholder="Регистрационный номер">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="vin-number-input">VIN-номер</label>
                    <input class="form-control form-control-sm form-control-alternative" id="vin-number-input"
                           [disabled]="!vehicleEdit && !model.relationships.vehicle.data.is_new"
                           [(ngModel)]="model.relationships.vehicle.data.attributes.vinNumber" placeholder="VIN-номер">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-lg-6">
                    <label class="form-control-label" for="year-input">Год выпуска</label>
                    <input class="form-control form-control-sm form-control-alternative" id="year-input" type="number"
                           [disabled]="!vehicleEdit && !model.relationships.vehicle.data.is_new"
                           [(ngModel)]="model.relationships.vehicle.data.attributes.year" placeholder="Год выпуска">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-control-label" for="mileage-number-input">Пробег</label>
                    <input class="form-control form-control-sm form-control-alternative" id="mileage-number-input" type="number"
                           [(ngModel)]="model.relationships.vehicleMileage.data.attributes.mileage" placeholder="Пробег">
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="vehicleEdit">
                <div class="alert alert-warning">
                  Внимание! Все изменения, внесенные в информацию об автомобиле, отразятся на всех заказ-нарядах, где указан данный автомобиль!
                </div>
              </ng-container>

            </div>

            <div class="col-md-3 mb-3">

              <div class="row">
                <div class="col-md">
                  <h3>Клиент</h3>
                </div>
                <div class="col-md-auto">
                  <div class="btn-group btn-group-sm">
                    <button
                      class="btn btn-sn btn-buro-blue"
                      title="Добавить нового"
                      (click)="newClient()"
                      [disabled]="model.relationships.client.data && model.relationships.client.data.is_new"
                    >
                      <i class="fas fa-file"></i>
                    </button>
                    <button
                      class="btn btn-sn btn-buro-blue"
                      title="Найти ранее добавленного"
                      (click)="openClientsModal()"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                    <button
                      class="btn btn-sn btn-buro-blue"
                      [class.active]="clientEdit"
                      (click)="clientEdit = !clientEdit"
                      title="Редактировать текущего"
                      [disabled]="!model.relationships.client.data || model.relationships.client.data.is_new"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="model.relationships.client.data">
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="name-input">Полное имя</label>
                    <input class="form-control form-control-sm form-control-alternative" id="name-input"
                           [disabled]="!clientEdit && !model.relationships.client.data.is_new"
                           [(ngModel)]="model.relationships.client.data.attributes.name" placeholder="Полное имя">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="phone-input">Телефон</label>
                    <input class="form-control form-control-sm form-control-alternative" id="phone-input"
                           [disabled]="!clientEdit && !model.relationships.client.data.is_new"
                           [(ngModel)]="model.relationships.client.data.attributes.phone" placeholder="Телефон">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="email-input">Email</label>
                    <input class="form-control form-control-sm form-control-alternative" id="email-input"
                           [disabled]="!clientEdit && !model.relationships.client.data.is_new"
                           [(ngModel)]="model.relationships.client.data.attributes.email" placeholder="Email (не обязательно к заполнению)">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="address-input">Адрес</label>
                    <input class="form-control form-control-sm form-control-alternative" id="address-input"
                           [disabled]="!clientEdit && !model.relationships.client.data.is_new"
                           [(ngModel)]="model.relationships.client.data.attributes.address" placeholder="Адрес (не обязательно к заполнению)">
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="clientEdit">
                <div class="alert alert-warning">
                  Внимание! Все изменения, внесенные в информацию о клиенте, отразятся на всех заказ-нарядах, где указан данный клиент!
                </div>
              </ng-container>

            </div>

            <div class="col-md-3 mb-3">

              <div class="row">
                <div class="col-md">
                  <h3>Исполнитель</h3>
                </div>
                <div class="col-md-auto" *ngIf="userService.isAdmin()">
                  <div class="btn-group btn-group-sm">
                    <button
                      class="btn btn-sn btn-buro-blue"
                      title="Выбрать"
                      (click)="openExecutorsModal()"
                    >
                      <i class="fas fa-list"></i>
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="model.relationships.executor.data">
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="executor-name-input">Полное имя</label>
                    <input class="form-control form-control-sm form-control-alternative" id="executor-name-input"
                           disabled
                           [(ngModel)]="model.relationships.executor.data.attributes.name" placeholder="Полное имя">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="executor-phone-input">Телефон</label>
                    <input class="form-control form-control-sm form-control-alternative" id="executor-phone-input"
                           disabled
                           [(ngModel)]="model.relationships.executor.data.attributes.phone" placeholder="Телефон">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="executor-email-input">Email</label>
                    <input class="form-control form-control-sm form-control-alternative" id="executor-email-input"
                           disabled
                           [(ngModel)]="model.relationships.executor.data.attributes.email" placeholder="Email (не обязательно к заполнению)">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <label class="form-control-label" for="executor-address-input">Адрес</label>
                    <input class="form-control form-control-sm form-control-alternative" id="executor-address-input"
                           disabled
                           [(ngModel)]="model.relationships.executor.data.attributes.address" placeholder="Адрес">
                  </div>
                </div>
              </ng-container>

            </div>

          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <label class="form-control-label" for="reason-input">Услуга</label>
              <textarea class="form-control form-control-sm form-control-alternative" id="reason-input" [(ngModel)]="model.attributes.reason"></textarea>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Работы</h2>

                </div>
                <div class="col-auto">
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm btn-buro-blue" (click)="newServiceWork()">Добавить</button>
                    <button class="btn btn-sm btn-buro-blue" (click)="openServiceWorkDictionariesModal()">Из справочника</button>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код работ</th>
                    <th scope="col">Наименование работ</th>
                    <th scope="col" style="width: 95px;">Фикс. цена</th>
                    <th scope="col" style="width: 175px;">
                      Норма времени, чел./час.
                    </th>
                    <th scope="col" style="width: 175px;">
                      Стоимость нормы времени, руб. /
                      <div>
                        Фиксированная цена, руб.
                      </div>
                    </th>
                    <th scope="col" style="width: 175px;">
                      Кратность
                    </th>
                    <th style="width: 43px;">
                      &nbsp;
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let serviceWork of serviceWorks">
                    <th>
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Код работ"
                             [(ngModel)]="serviceWork.attributes.number">
                    </th>
                    <th class="wrap-column">
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Наименование работ"
                             [(ngModel)]="serviceWork.attributes.name">
                    </th>
                    <th>
                      <input type="checkbox" class="form-control form-control-sm" [(ngModel)]="serviceWork.attributes.byPrice">
                    </th>
                    <th>
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Норма времени, чел./час."
                             [(ngModel)]="serviceWork.attributes.timeValue" [disabled]="serviceWork.attributes.byPrice">
                    </th>
                    <th>
                      <ng-container *ngIf="serviceWork.attributes.byPrice; else byPriceNorm">
                        <input class="form-control form-control-sm form-control-alternative" placeholder="Фиксированная цена, руб."
                               [(ngModel)]="serviceWork.attributes.price" type="number">
                      </ng-container>
                      <ng-template #byPriceNorm>
                        <input class="form-control form-control-sm form-control-alternative" placeholder="Стоимость нормы времени, руб."
                               [(ngModel)]="serviceWork.attributes.priceNorm" type="number">
                      </ng-template>
                    </th>
                    <th>
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Кратность"
                             [(ngModel)]="serviceWork.attributes.count" type="number">
                    </th>
                    <th>
                      <app-delete-button
                        [model]="serviceWork"
                        [isIcon]="true"
                        [modalTitle]="serviceWork.attributes.name"
                        [parentList]="serviceWorks"
                        [restService]="serviceWorkService"
                      ></app-delete-button>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Товары</h2>

                </div>
                <div class="col-auto">
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm btn-buro-blue" (click)="newServiceAddon()">Добавить</button>
                    <button class="btn btn-sm btn-buro-blue" (click)="openServiceAddonDictionariesModal()">Из справочника</button>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код товара</th>
                    <th scope="col">Наименование товара</th>
                    <th scope="col" style="width: 175px;">
                      Цена, руб.
                    </th>
                    <th scope="col" style="width: 175px;">
                      Количество
                    </th>
                    <th style="width: 43px;">
                      &nbsp;
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let addon of serviceAddons">
                    <th>
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Код товара"
                             [(ngModel)]="addon.attributes.number">
                    </th>
                    <th class="wrap-column">
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Наименование товара"
                             [(ngModel)]="addon.attributes.name">
                    </th>
                    <th scope="col">
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Цена, руб."
                             [(ngModel)]="addon.attributes.cost" type="number">
                    </th>
                    <th style="text-align: right;">
                      <input class="form-control form-control-sm form-control-alternative" placeholder="Количество"
                             [(ngModel)]="addon.attributes.count" type="number">
                    </th>
                    <th>
                      <app-delete-button
                        [model]="addon"
                        [isIcon]="true"
                        [modalTitle]="addon.attributes.name"
                        [parentList]="serviceAddons"
                        [restService]="serviceAddonService"
                      ></app-delete-button>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #clientModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Поиск клиентов</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col">
        <div class="input-group input-group-alternative input-group-sm">
          <input id="client-select-ahead" type="text" placeholder="Введите ФИО, телефон или email (мин. 3 символа)"
                 class="form-control form-control-sm" [(ngModel)]="phoneOrEmailSearch" (keyup.enter)="searchClients()"/>
          <div class="input-group-append">
            <button class="btn btn-buro-blue" type="button" (click)="searchClients()" [disabled]="!phoneOrEmailSearch || phoneOrEmailSearch.length < 3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table align-items-center table-flush table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Полное имя</th>
              <th scope="col">Телефон</th>
              <th scope="col">Почта</th>
              <th scope="col">Адрес</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let client of clients.data">
              <tr style="cursor: pointer;" (click)="setClient(client)">
                <td>
                  {{client.attributes.name}}
                </td>
                <td>
                  {{client.attributes.phone}}
                </td>
                <td>
                  {{client.attributes.email}}
                </td>
                <td>
                  {{client.attributes.address}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>

<ng-template #executorModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Выбор исполнителя</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <table class="table align-items-center table-flush table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Полное имя</th>
              <th scope="col">Телефон</th>
              <th scope="col">Почта</th>
              <th scope="col">Адрес</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let executor of executors.data">
              <tr style="cursor: pointer;" (click)="setExecutor(executor)">
                <td>
                  {{executor.attributes.name}}
                </td>
                <td>
                  {{executor.attributes.phone}}
                </td>
                <td>
                  {{executor.attributes.email}}
                </td>
                <td>
                  {{executor.attributes.address}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>

<ng-template #vehicleModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Поиск автомобилей</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col">
        <div class="input-group input-group-alternative input-group-sm">
          <input id="vehicle-select-ahead" type="text" placeholder="Введите марку, модель, регистрационный или VIN-номер (мин. 3 символа)"
                 class="form-control form-control-sm" [(ngModel)]="vinSearch" (keyup.enter)="searchVehicles()"/>
          <div class="input-group-append">
            <button class="btn btn-buro-blue" type="button" (click)="searchVehicles()" [disabled]="!vinSearch || vinSearch.length < 3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table align-items-center table-flush table-hover table-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Марка/модель</th>
            <th scope="col">Рег. номер</th>
            <th scope="col">VIN-номер</th>
            <th scope="col">Год выпуска</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let vehicle of vehicles.data">
            <tr style="cursor: pointer;" (click)="setVehicle(vehicle)">
              <td>
                {{vehicle.attributes.modelName}}
              </td>
              <td>
                {{vehicle.attributes.regNumber}}
              </td>
              <td>
                {{vehicle.attributes.vinNumber}}
              </td>
              <td>
                {{vehicle.attributes.year}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>

<ng-template #vehicleDictionaryModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Поиск в справочнике автомобилей</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col">
        <div class="input-group input-group-alternative input-group-sm">
          <input id="vehicle-dictionary-select-ahead" type="text" placeholder="Введите марку или модель (мин. 3 символа)"
                 class="form-control form-control-sm" [(ngModel)]="vehicleDictionaryNameSearch" (keyup.enter)="searchVehicleDictionaries()"/>
          <div class="input-group-append">
            <button class="btn btn-buro-blue" type="button" (click)="searchVehicleDictionaries()"
                    [disabled]="!vehicleDictionaryNameSearch || vehicleDictionaryNameSearch.length < 3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table align-items-center table-flush table-hover table-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Марка/модель</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let vehicleDictionary of vehicleDictionaries.data">
            <tr style="cursor: pointer;" (click)="updateVehicle(vehicleDictionary)">
              <td>
                {{vehicleDictionary.attributes.name}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>

<ng-template #serviceWorkDictionaryModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Поиск в справочнике работ</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col">
        <div class="input-group input-group-alternative input-group-sm">
          <input id="service-work-dictionary-select-ahead" type="text" placeholder="Введите наименование (мин. 3 символа)"
                 class="form-control form-control-sm" [(ngModel)]="serviceWorkDictionaryNameSearch" (keyup.enter)="searchServiceWorkDictionaries()"/>
          <div class="input-group-append">
            <button class="btn btn-buro-blue" type="button" (click)="searchServiceWorkDictionaries()"
                    [disabled]="!serviceWorkDictionaryNameSearch || serviceWorkDictionaryNameSearch.length < 3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table align-items-center table-flush table-hover table-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Наименование</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let serviceWorkDictionary of serviceWorkDictionaries.data">
            <tr style="cursor: pointer;" (click)="newServiceWorkFromDictionary(serviceWorkDictionary)">
              <td>
                {{serviceWorkDictionary.attributes.name}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>

<ng-template #serviceAddonDictionaryModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Поиск в справочнике товаров</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col">
        <div class="input-group input-group-alternative input-group-sm">
          <input id="service-addon-dictionary-select-ahead" type="text" placeholder="Введите наименование (мин. 3 символа)"
                 class="form-control form-control-sm" [(ngModel)]="serviceAddonDictionaryNameSearch" (keyup.enter)="searchServiceAddonDictionaries()"/>
          <div class="input-group-append">
            <button class="btn btn-buro-blue" type="button" (click)="searchServiceAddonDictionaries()"
                    [disabled]="!serviceAddonDictionaryNameSearch || serviceAddonDictionaryNameSearch.length < 3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table align-items-center table-flush table-hover table-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Наименование</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let serviceAddonDictionary of serviceAddonDictionaries.data">
            <tr style="cursor: pointer;" (click)="newServiceAddonFromDictionary(serviceAddonDictionary)">
              <td>
                {{serviceAddonDictionary.attributes.name}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>
