<div class="card shadow">
  <div class="card-body">

    <div class="row">
      <div class="col-sm mb-3">
        <h3 class="text-muted mb-0">
          Фильтры
        </h3>
      </div>
      <div class="col-auto mb-3">
        <app-report-button [model]="document"
                           *ngIf="userService.currentUser && ( userService.currentUser.admin || userService.currentUser.moderator )">
        </app-report-button>
        <button class="btn btn-sm btn-buro-green" (click)="resetFilters()" *ngIf="filter.state || filter.organization ||
        filter.vehicle || filter.vinNumber || filter.client || filter.fromDate || filter.toDate">
          Сбросить
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="state-select">Состояние</label>
      <select id="state-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.state" (change)="emitChange()">
        <option [selected]="null === filter.state" [ngValue]="null">
          Без фильтра
        </option>
        <option [selected]="state.id === filter.state" *ngFor="let state of states" [ngValue]="state.id">
          {{ state.name }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="userService.currentUser && !userService.currentUser.serviceLeader">
      <label class="form-control-label" for="organization-select">Предприятие</label>
      <select id="organization-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.organization" (change)="emitChange()">
        <option [selected]="null === filter.organization" [ngValue]="null">
          Без фильтра
        </option>
        <option [selected]="organization.id === filter.organization" *ngFor="let organization of organizations" [ngValue]="organization.id">
          {{ organization.fullName }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="userService.currentUser && ( userService.currentUser.admin || userService.currentUser.moderator )">
      <label class="form-control-label" for="client-select">Клиент</label>
      <select id="client-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.client" (change)="emitChange()">
        <option [selected]="null === filter.client" [ngValue]="null">
          Без фильтра
        </option>
        <option [selected]="client.id === filter.client" *ngFor="let client of clients" [ngValue]="client.id">
          {{ client.shortName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="model-input">Марка/модель автомобиля</label>
      <div class="input-group input-group-sm">
        <input id="model-input" class="form-control" placeholder="Марка/модель автомобиля"
               [(ngModel)]="filter.vehicle" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-green" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="vin-input">VIN-номер</label>
      <div class="input-group input-group-sm">
        <input id="vin-input" class="form-control" placeholder="VIN-номер"
               [(ngModel)]="filter.vinNumber" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-green" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="from-date-picker">Дата начала ремонта - от</label>
      <div>
        <dp-day-calendar id="from-date-picker" (onSelect)="setFromDate()" [(ngModel)]="fromDate" [config]="datePickerConfig" theme="dp-material"></dp-day-calendar>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="to-date-picker">Дата начала ремонта - до</label>
      <div>
        <dp-day-calendar id="to-date-picker" (onSelect)="setToDate()" [(ngModel)]="toDate" [config]="datePickerConfig" theme="dp-material"></dp-day-calendar>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="text-muted">
          Сортировка
        </h3>
      </div>
      <div *ngIf="filter.sort !== 'dateStart' || filter.direction !== 'asc'" class="col-auto text-muted">
        <button class="btn btn-sm btn-buro-green" (click)="resetSort()">
          Сбросить
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="sort-select">Сортировать по:</label>
      <select id="sort-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.sort" (change)="emitChange()">
        <option [selected]="'dateStart' === filter.sort" [ngValue]="'dateStart'">
          Дата начала
        </option>
        <option [selected]="'documentOutHeader.dateCreate' === filter.sort" [ngValue]="'documentOutHeader.dateCreate'">
          Дата окончания
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="direction-select">Порядок сортировки:</label>
      <select id="direction-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.direction" (change)="emitChange()">
        <option [selected]="'asc' === filter.direction" [ngValue]="'asc'">
          По возрастанию
        </option>
        <option [selected]="'desc' === filter.direction" [ngValue]="'desc'">
          По убыванию
        </option>
      </select>
    </div>
  </div>
</div>
