<div class="card shadow">
  <div class="card-body">

    <div class="row">
      <div class="col-sm mb-3">
        <h3 class="text-muted mb-0">
          Фильтры
        </h3>
      </div>
      <div class="col-auto mb-3">
        <app-report-button [model]="document" [withPrint]="false" [disabled]="document != null && document.state !== 4"
                           *ngIf="userService.currentUser != null">
        </app-report-button>
        <app-report-button [model]="document" [printDisabled]="document != null && document.state !== 4"
                           *ngIf="userService.currentUser != null">
        </app-report-button>
        <button class="btn btn-sm btn-buro-green" (click)="resetFilters()" *ngIf="filter.state || filter.organization ||
        filter.vehicle || filter.vinNumber || filter.client || filter.fromDate || filter.toDate">
          Сбросить
        </button>
      </div>
    </div>

    <div class="form-group" *ngIf="userService.isModeratorOrAdmin()">
      <label class="form-control-label" for="state-select">Состояние</label>
      <select id="state-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.state" (change)="emitChange()">
        <option [selected]="null === filter.state" [ngValue]="null">
          Без фильтра
        </option>
        <option [selected]="state.id === filter.state" *ngFor="let state of states" [ngValue]="state.id">
          {{ state.name }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="!userService.isServiceLeader()">
      <label class="form-control-label" for="organization-select">Предприятие</label>
      <select id="organization-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.organization" (change)="organizationChange()">
        <option [selected]="null === filter.organization" [ngValue]="null">
          Без фильтра
        </option>
        <option [selected]="organization.id === filter.organization" *ngFor="let organization of organizations" [ngValue]="organization.id">
          {{ organization.fullName }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="userService.isNotClient()">
      <label class="form-control-label" for="client-select">Клиент</label>
      <select id="client-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.client" (change)="emitChange()">
        <option [selected]="null === filter.client" [ngValue]="null">
          Без фильтра
        </option>
        <option [selected]="client.id === filter.client" *ngFor="let client of clients" [ngValue]="client.id">
          {{ client.shortName }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="userService.isNotClient()">
      <label class="form-control-label" for="client-select-ahead">Клиент (поиск)</label>
      <div class="input-group input-group-sm">
        <input id="client-select-ahead" type="text" class="form-control form-control-sm"
               (selectItem)="setClient($event)" [(ngModel)]="selectedClient" [ngbTypeahead]="search"
               [resultTemplate]="rt" [inputFormatter]="formatter"/>
        <div class="input-group-append">
          <button class="btn btn-buro-green" type="button" (click)="setClient(null)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.shortName" [term]="t"></ngb-highlight>
      </ng-template>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="model-input">Марка/модель автомобиля</label>
      <div class="input-group input-group-sm">
        <input id="model-input" class="form-control" placeholder="Марка/модель автомобиля"
               [(ngModel)]="filter.vehicle" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-green" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="vin-input">Рег. номер</label>
      <div class="input-group input-group-sm">
        <input id="vin-input" class="form-control" placeholder="Рег. номер"
               [(ngModel)]="filter.vinNumber" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-green" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xl-12 col-lg-6 col-sm col-xs-12">
          <label class="form-control-label" for="from-date-picker">Дата начала ремонта - от</label>
          <div>
            <input class="form-control form-control-alternative form-control-sm" id="from-date-picker" [mode]="'day'"
                   placeholder="выберите дату - от"
                   (ngModelChange)="setFromDate($event)" [(ngModel)]="fromDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
          </div>
        </div>
        <div class="col-xl-12 col-lg-6 col-sm col-xs-12">
          <label class="form-control-label" for="to-date-picker">Дата начала ремонта - до</label>
          <div>
            <input class="form-control form-control-alternative form-control-sm" id="to-date-picker" [mode]="'day'"
                   placeholder="выберите дату - до"
                   (ngModelChange)="setToDate($event)" [(ngModel)]="toDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <h3 class="text-muted">
          Сортировка
        </h3>
      </div>
      <div *ngIf="filter.sort !== 'dateStart' || filter.direction !== 'desc'" class="col-auto text-muted">
        <button class="btn btn-sm btn-buro-green" (click)="resetSort()">
          Сбросить
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="sort-select">Сортировать по:</label>
      <select id="sort-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.sort" (change)="emitChange()">
        <option [selected]="'dateStart' === filter.sort" [ngValue]="'dateStart'">
          Дата начала
        </option>
        <option [selected]="'documentOutHeader.dateCreate' === filter.sort" [ngValue]="'documentOutHeader.dateCreate'">
          Дата окончания
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="direction-select">Порядок сортировки:</label>
      <select id="direction-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.direction" (change)="emitChange()">
        <option [selected]="'asc' === filter.direction" [ngValue]="'asc'">
          По возрастанию
        </option>
        <option [selected]="'desc' === filter.direction" [ngValue]="'desc'">
          По убыванию
        </option>
      </select>
    </div>
  </div>
</div>
