<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md mb-3">
              Данные заказ-наряда
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-blue" (click)="location.back()">
                Назад
              </button>
<!--              <app-report-button *ngIf="userService.currentUser != null" [disabled]="model != null"-->
<!--                                 [model]="model" [withPrint]="false"></app-report-button>-->
<!--              <app-report-button *ngIf="userService.currentUser != null" [printDisabled]="model != null"-->
<!--                                 [model]="model"></app-report-button>-->
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="row form-group">

            <div class="col-sm mb-3">
              <div class="row">
                <div class="col-md-5 mb-3">

                  <div class="row">
                    <div class="col-lg-12">
                      <h2 *ngIf="model != null">{{model.attributes.number}} {{model.attributes.status}}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">

                      <table>
                        <tbody>
                        <tr>
                          <td class="font-weight-bold">Дата начала:&nbsp;</td>
                          <td *ngIf="model != null">{{model.attributes.startDate | date : 'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                        <tr>
                          <td class="font-weight-bold">Дата окончания:&nbsp;</td>
                          <td *ngIf="model != null">{{model.attributes.endDate | date : 'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
                <div class="col-md-7 mb-3">

                  <div class="row">
                    <div class="col-lg-12">

                      <h2 *ngIf="model != null">{{model.relationships.vehicle.data.attributes.modelName}}</h2>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">

                      <span class="font-weight-bold">Гос. номер:</span>&nbsp;<span *ngIf="model != null">{{model.relationships.vehicle.data.attributes.regNumber}}</span>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">

                      <span class="font-weight-bold">VIN:</span>&nbsp;<span *ngIf="model != null">{{model.relationships.vehicle.data.attributes.vinNumber}}</span>

                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-auto">
              <h2 *ngIf="model != null">{{model.attributes.cost | number:'.2':'ru'}} р.</h2>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <table>
                <tbody>
                <tr>
                  <td class="font-weight-bold">
                    Предприятие:&nbsp;
                  </td>
                  <td *ngIf="model != null">{{model.relationships.executor.data.attributes.fio}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Клиент:&nbsp;
                  </td>
                  <td *ngIf="model != null">{{model.relationships.client.data.attributes.fio}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <span class="font-weight-bold">Причина обращения:&nbsp;</span> <span *ngIf="model != null">{{model.attributes.reason}}</span>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Работы</h2>

                </div>
                <div class="col-auto">

                  <span>
                    <span>Сумма работ:</span>
                    &nbsp;
                  </span>
<!--                  <h2 style="display: inline-block;" *ngIf="model != null">{{model.serviceWork.workSum | number:'.2':'ru'}} р.</h2>-->

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код работ</th>
                    <th scope="col">Наименование работ</th>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Норма времени, чел./час. /
                      <div>
                        Фиксированная цена, руб.
                      </div>
                    </th>
                    <ng-template #onlyPriceNorm>
                      <th scope="col" style="text-align: right; width: 175px;">
                        Стоимость нормы времени, руб.
                      </th>
                    </ng-template>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Стоимость работ
                      <div class="text-muted">
                        Кратность
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let serviceWork of model.relationships.serviceWorks.data">
                    <th>
                      {{serviceWork.attributes.number}}
                    </th>
                    <th class="wrap-column">
                      {{serviceWork.attributes.name}}
                    </th>
                    <th style="text-align: right;">
                      <ng-container *ngIf="serviceWork.attributes.byPrice; else byPriceNorm">
                        <div>{{serviceWork.attributes.price | number:'.2':'ru'}} р.</div>
                      </ng-container>
                      <ng-template #byPriceNorm>
                        <div>{{serviceWork.attributes.timeValue | number:'.2':'ru'}} ч./ч.</div>
                      </ng-template>
                    </th>
                    <ng-template #viewFields>
                      <th style="text-align: right;">
                        <div *ngIf="!serviceWork.attributes.byPrice">{{serviceWork.attributes.priceNorm | number:'.2':'ru'}} р.</div>
                      </th>
                    </ng-template>
                    <th style="text-align: right;">
<!--                      <div>{{serviceWork.total | number:'.2':'ru'}} р.</div>-->
                      <div class="text-muted" *ngIf="serviceWork.attributes.count != null && serviceWork.attributes.count > 1">{{serviceWork.attributes.count}}</div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Товары</h2>

                </div>
                <div class="col-auto">

                  <span>
                    <span>Сумма товаров:</span>
                    &nbsp;
                  </span>
<!--                  <h2 style="display: inline-block;" *ngIf="model != null">{{model.serviceGoodsAddon.addonsSum | number:'.2':'ru'}} р.</h2>-->

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код товара</th>
                    <th scope="col">Наименование товара</th>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Стоимость товара
                      <div class="text-muted">
                        Количество
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let addon of model.relationships.serviceAddons.data">
                    <th>
                      {{addon.attributes.number}}
                    </th>
                    <th class="wrap-column">
                      {{addon.attributes.name}}
                    </th>
                    <th style="text-align: right;">
<!--                      <div>{{addon.totalCost | number:'.2':'ru'}} р.</div>-->
                      <div class="text-muted" *ngIf="addon.attributes.count != null && addon.attributes.count > 1">{{addon.attributes.count}}</div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
