<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">
          <app-loading-bar [isLoading]="isLoading || isUpdating"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md mb-3">
              Данные заказ-наряда
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-green" (click)="location.back()">
                Назад
              </button>
              <app-report-button *ngIf="userService.currentUser != null" [disabled]="model != null && model.state !== 4"
                                 [model]="model" [withPrint]="false"></app-report-button>
              <app-report-button *ngIf="userService.currentUser != null" [printDisabled]="model != null && model.state !== 4"
                                 [model]="model"></app-report-button>
              <app-share-button *ngIf="model != null && userService.isNotClient()" [document]="model"
                                [disabled]="userService.isServiceLeaderWithExpiredSubscription() ||
                                paymentService.isServiceLeaderWithExpiredSubscription()"></app-share-button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="row form-group">

            <div class="col-sm mb-3">
              <div class="row">
                <div class="col-md-5 mb-3">

                  <div class="row" *ngIf="userService.isNotClient(); else staticText">
                    <div class="col-auto col-lg-5">
                      <h2 *ngIf="model != null">{{model.documentNumber}}</h2>
                    </div>
                    <div class="col col-lg-7">
                      <div class="input-group input-group-sm" *ngIf="model != null">
                        <select class="form-control form-control-sm" [(ngModel)]="model.state">
                          <option *ngFor="let state of states" [ngValue]="state.id">
                            {{ state.name }}
                          </option>
                        </select>
                        <div class="input-group-append">
                          <button class="btn btn-buro-green" type="button" (click)="updateState(model, model.state)"
                                  [disabled]="isUpdating">
                            <i class="fas fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="userService.isModeratorOrAdmin()">
                    <div class="col-auto col-lg-5 font-weight-bold">
                      Оформил(-а):
                    </div>
                    <div class="col col-lg-7">
                      <div class="input-group input-group-sm" *ngIf="model != null">
                        <select class="form-control form-control-sm" [(ngModel)]="model.userId">
                          <option *ngFor="let user of firebirdUsers" [ngValue]="user.id">
                            {{ user.shortName }}
                          </option>
                        </select>
                        <div class="input-group-append">
                          <button class="btn btn-buro-green" type="button" (click)="updateUser(model, model.userId)"
                                  [disabled]="isUpdating">
                            <i class="fas fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #staticText>
                    <div class="row">
                      <div class="col-lg-12">
                        <h2 *ngIf="model != null">{{model.documentNumber}} {{model.stateRus}}</h2>
                      </div>
                    </div>
                  </ng-template>
                  <div class="row">
                    <div class="col-lg-12">

                      <table>
                        <tbody>
                        <tr>
                          <td class="font-weight-bold">Дата начала:&nbsp;</td>
                          <td *ngIf="model != null">{{model.startDate}}</td>
                        </tr>
                        <tr>
                          <td class="font-weight-bold">Дата окончания:&nbsp;</td>
                          <td *ngIf="model != null">{{model.endDate}}</td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
                <div class="col-md-7 mb-3">

                  <div class="row">
                    <div class="col-lg-12">

                      <h2 *ngIf="model != null">{{model.vehicle.name}}</h2>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">

                      <span class="font-weight-bold">Гос. номер:</span>&nbsp;<span *ngIf="model != null">{{model.vehicle.regNumber}}</span>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">

                      <span class="font-weight-bold">VIN:</span>&nbsp;<span *ngIf="model != null">{{model.vehicle.vinNumber}}</span>

                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-auto">
              <h2 *ngIf="model != null">{{model.sum | number:'.2':'ru'}} р.</h2>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <table>
                <tbody>
                <tr>
                  <td class="font-weight-bold">
                    Предприятие:&nbsp;
                  </td>
                  <td *ngIf="model != null">{{model.organization}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Клиент:&nbsp;
                  </td>
                  <td *ngIf="model != null">{{model.client}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <span class="font-weight-bold">Причина обращения:&nbsp;</span> <span *ngIf="model != null">{{model.reason}}</span>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Работы</h2>

                </div>
                <div class="col-auto">

                  <span>
                    <span>Сумма работ:</span>
                    &nbsp;
                  </span>
                  <h2 style="display: inline-block;" *ngIf="model != null">{{model.serviceWork.workSum | number:'.2':'ru'}} р.</h2>

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код работ</th>
                    <th scope="col">Наименование работ</th>
                    <th scope="col" style="width: 175px;" *ngIf="userService.isNotClient()">
                      Стоимость по Н/Ч /
                      <div>
                        Фиксированная стоимость
                      </div>
                    </th>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Стоимость работ
                      <div class="text-muted">
                        Кратность
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let work of model.serviceWork.workList">
                    <th>
                      {{work.number}}
                    </th>
                    <th>
                      {{work.name}}
                      <app-share-button *ngIf="model != null && userService.isNotClient()" [isLink]="true"
                                        [disabled]="userService.isServiceLeaderWithExpiredSubscription() ||
                                        paymentService.isServiceLeaderWithExpiredSubscription()"
                                        [document]="model" [serviceWork]="work"></app-share-button>
                    </th>
                    <th *ngIf="userService.isNotClient()">
                      <div class="input-group input-group-sm" *ngIf="work.byPrice; else byPriceNorm">
                        <input type="number" class="form-control" (keyup.enter)="updatePrice(model, work, work.price)"
                               [(ngModel)]="work.price" [placeholder]="work.price"/>
                        <div class="input-group-append">
                          <button class="btn btn-buro-green" type="button" (click)="updatePrice(model, work, work.price)"
                                  [disabled]="isUpdating">
                            <i class="fas fa-check"></i>
                          </button>
                        </div>
                      </div>
                      <ng-template #byPriceNorm>
                        <div class="input-group input-group-sm">
                          <input type="number" class="form-control" (keyup.enter)="updatePrice(model, work, work.priceNorm)"
                                 [(ngModel)]="work.priceNorm" [placeholder]="work.priceNorm"/>
                          <div class="input-group-append">
                            <button class="btn btn-buro-green" type="button" (click)="updatePrice(model, work, work.priceNorm)"
                                    [disabled]="isUpdating">
                              <i class="fas fa-check"></i>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </th>
                    <th style="text-align: right;">
                      <div>{{work.total | number:'.2':'ru'}} р.</div>
                      <div class="text-muted" *ngIf="work.quantity != null && work.quantity > 1">{{work.quantity}}</div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Товары</h2>

                </div>
                <div class="col-auto">

                  <span>
                    <span>Сумма товаров:</span>
                    &nbsp;
                  </span>
                  <h2 style="display: inline-block;" *ngIf="model != null">{{model.serviceGoodsAddon.addonsSum | number:'.2':'ru'}} р.</h2>

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код товара</th>
                    <th scope="col">Наименование товара</th>
<!--                    <th scope="col" style="width: 300px;">Примечание</th>-->
                    <th scope="col" style="width: 175px;" *ngIf="userService.isNotClient()">Стоимость товара</th>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Стоимость товара
                      <div class="text-muted">
                        Количество
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let addon of model.serviceGoodsAddon.serviceGoodsAddonList">
                    <th>
                      {{addon.number}}
                    </th>
                    <th>
                      {{addon.fullName}}
                      <app-share-button *ngIf="model != null && userService.isNotClient()" [isLink]="true"
                                        [disabled]="userService.isServiceLeaderWithExpiredSubscription() ||
                                        paymentService.isServiceLeaderWithExpiredSubscription()"
                                        [document]="model" [serviceGoodsAddon]="addon"></app-share-button>
                    </th>
<!--                    <th class="wrap-column">-->
<!--                      {{addon.notes}}-->
<!--                    </th>-->
                    <th *ngIf="userService.isNotClient()">
                      <div class="input-group input-group-sm">
                        <input type="number" class="form-control" (keyup.enter)="updateCost(model, addon, addon.cost)"
                               [(ngModel)]="addon.cost" [placeholder]="addon.cost"/>
                        <div class="input-group-append">
                          <button class="btn btn-buro-green" type="button" (click)="updateCost(model, addon, addon.cost)"
                                  [disabled]="isUpdating">
                            <i class="fas fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th style="text-align: right;">
                      <div>{{addon.totalCost | number:'.2':'ru'}} р.</div>
                      <div class="text-muted" *ngIf="addon.goodsCount != null && addon.goodsCount > 1">{{addon.goodsCount}}</div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col mb-3">

                  <h2 class="mb-0">Товары, предоставленные клиентом</h2>

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" style="width: 125px;">Код товара</th>
                    <th scope="col">Наименование товара</th>
                    <th scope="col" style="text-align: right; width: 175px;">
                        Количество
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let addon of model.goodsOutClient.goodsOutClientResponseList">
                    <th>
                      {{addon.number}}
                    </th>
                    <th>
                      {{addon.fullName}}
                      <app-share-button *ngIf="model != null && userService.isNotClient()" [isLink]="true"
                                        [disabled]="userService.isServiceLeaderWithExpiredSubscription() ||
                                        paymentService.isServiceLeaderWithExpiredSubscription()"
                                        [document]="model" [clientGoodsOut]="addon"></app-share-button>
                    </th>
                    <th style="text-align: right;">
                      {{addon.goodsCount}}
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
