<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">

          <div class="row form-group">
            <div class="col-sm-4">

              <div class="row" *ngIf="userService.currentUser && userService.currentUser.moderator; else staticText">
                <div class="col-lg-5">
                  <h2 *ngIf="model != null">{{model.documentNumber}}</h2>
                </div>
                <div class="col-lg-7">
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm" [(ngModel)]="model.state">
                      <option *ngFor="let state of states" [ngValue]="state.id">
                        {{ state.name }}
                      </option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-buro-green" type="button" (click)="updateState(model, model.state)"
                              [disabled]="isUpdating">
                        <i class="fas fa-check"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #staticText>
                <div class="row">
                  <div class="col-lg-12">
                    <h2 *ngIf="model != null">{{model.documentNumber}} {{model.stateRus}}</h2>
                  </div>
                </div>
              </ng-template>
              <div class="row">
                <div class="col-lg-12">

                  <table>
                    <tbody>
                    <tr>
                      <td class="font-weight-bold">Дата начала:&nbsp;</td>
                      <td *ngIf="model != null">{{model.startDate}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Дата окончания:&nbsp;</td>
                      <td *ngIf="model != null">{{model.endDate}}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>

            </div>
            <div class="col-sm-6">

              <div class="row">
                <div class="col-lg-12">

                  <h2 *ngIf="model != null">{{model.vehicle.name}}</h2>

                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">

                  <span class="font-weight-bold">Гос. номер:</span> <span *ngIf="model != null">{{model.vehicle.regNumber}}</span>

                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">

                  <span class="font-weight-bold">VIN:</span> <span *ngIf="model != null">{{model.vehicle.vinNumber}}</span>

                </div>
              </div>

            </div>
            <div class="col-sm-2">
              <div class="row">

                <div class="col-lg-12" style="text-align: right;">
                  <h2 *ngIf="model != null">{{model.sum | number:'.2':'ru'}} р.</h2>
                </div>

              </div>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <table>
                <tbody>
                <tr>
                  <td class="font-weight-bold">
                    Предприятие:&nbsp;
                  </td>
                  <td *ngIf="model != null">{{model.organization}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">
                    Клиент:&nbsp;
                  </td>
                  <td *ngIf="model != null">{{model.client}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <span class="font-weight-bold">Причина обращения:</span> <span *ngIf="model != null">{{model.reason}}</span>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col-sm-6">

                  <h2>Работы</h2>

                </div>
                <div class="col-sm-6" style="text-align: right;">

                  <span><span *ngIf="isUpdating"><i class="fas fa-spinner fa-spin"></i>&nbsp;</span>Сумма работ:&nbsp;</span><h2 style="display: inline-block;" *ngIf="model != null">{{model.serviceWork.workSum | number:'.2':'ru'}} р.</h2>

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Наименование работ</th>
                    <th scope="col" style="width: 175px;" *ngIf="userService.currentUser && userService.currentUser.serviceLeader">
                      Стоимость по Н/Ч /
                      <div>
                        Фиксированная стоимость
                      </div>
                    </th>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Стоимость работ
                      <div class="text-muted">
                        Кратность
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let work of model.serviceWork.workList">
                    <th>
                      {{work.name}}
                    </th>
                    <th *ngIf="userService.currentUser && userService.currentUser.serviceLeader">
                      <div class="input-group input-group-sm" *ngIf="work.byPrice; else byPriceNorm">
                        <input type="number" class="form-control" (keyup.enter)="updatePrice(model, work, work.price)"
                               [(ngModel)]="work.price" [placeholder]="work.price"/>
                        <div class="input-group-append">
                          <button class="btn btn-buro-green" type="button" (click)="updatePrice(model, work, work.price)"
                                  [disabled]="isUpdating">
                            <i class="fas fa-check"></i>
                          </button>
                        </div>
                      </div>
                      <ng-template #byPriceNorm>
                        <div class="input-group input-group-sm">
                          <input type="number" class="form-control" (keyup.enter)="updatePrice(model, work, work.priceNorm)"
                                 [(ngModel)]="work.priceNorm" [placeholder]="work.priceNorm"/>
                          <div class="input-group-append">
                            <button class="btn btn-buro-green" type="button" (click)="updatePrice(model, work, work.priceNorm)"
                                    [disabled]="isUpdating">
                              <i class="fas fa-check"></i>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </th>
                    <th style="text-align: right;">
                      <div>{{work.total | number:'.2':'ru'}} р.</div>
                      <div class="text-muted" *ngIf="work.quantity != null && work.quantity > 1">{{work.quantity}}</div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div class="row form-group">
            <div class="col-lg-12">

              <div class="row form-group">
                <div class="col-sm-6">

                  <h2>Товары</h2>

                </div>
                <div class="col-sm-6" style="text-align: right;">

                  <span><span *ngIf="isUpdating"><i class="fas fa-spinner fa-spin"></i>&nbsp;</span>Сумма товаров:&nbsp;</span><h2 style="display: inline-block;" *ngIf="model != null">{{model.serviceGoodsAddon.addonsSum | number:'.2':'ru'}} р.</h2>

                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-flush table-hover">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Наименование товара</th>
                    <th scope="col" style="width: 175px;" *ngIf="userService.currentUser && userService.currentUser.serviceLeader">Стоимость товара</th>
                    <th scope="col" style="text-align: right; width: 175px;">
                      Стоимость товара
                      <div class="text-muted">
                        Количество
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="model != null">
                  <tr *ngFor="let addon of model.serviceGoodsAddon.serviceGoodsAddonList">
                    <th>
                      {{addon.fullName}}
                    </th>
                    <th *ngIf="userService.currentUser && userService.currentUser.serviceLeader">
                      <div class="input-group input-group-sm">
                        <input type="number" class="form-control" (keyup.enter)="updateCost(model, addon, addon.cost)"
                               [(ngModel)]="addon.cost" [placeholder]="addon.cost"/>
                        <div class="input-group-append">
                          <button class="btn btn-buro-green" type="button" (click)="updateCost(model, addon, addon.cost)"
                                  [disabled]="isUpdating">
                            <i class="fas fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th style="text-align: right;">
                      <div>{{addon.totalCost | number:'.2':'ru'}} р.</div>
                      <div class="text-muted" *ngIf="addon.goodsCount != null && addon.goodsCount > 1">{{addon.goodsCount}}</div>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
