<div class="header bg-buro-orange py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Добро пожаловать!</h1>
<!--          <p class="text-lead text-light">Текст про систему и т.д</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-buro-blue" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">

        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            Вход
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control" formControlName="username" placeholder="Телефон/почта" id="username" autocomplete="off" type="text">
<!--                <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Логин необходим</div>-->
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="password" placeholder="Пароль" id="pwd" autocomplete="off">
<!--                <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Пароль необходим</div>-->
              </div>
            </div>
            <div class="text-right">
              <a href="#" class="text-muted" [routerLink]="['/restore']"><small>Забыли пароль?</small></a>
            </div>
<!--            <div class="custom-control custom-control-alternative custom-checkbox">-->
<!--              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">-->
<!--              <label class="custom-control-label" for=" customCheckLogin">-->
<!--                <span class="text-muted">Запомнить меня</span>-->
<!--              </label>-->
<!--            </div>-->
            <div class="text-center">
              <button class="btn btn-buro-blue" [disabled]="loginForm.invalid || isLoggingIn" type="submit">
                Вход
                <span *ngIf="isLoggingIn">&nbsp;<i class="fas fa-spin fa-spinner"></i></span>
              </button>
              <button type="button" class="btn btn-buro-orange my-4"  routerLinkActive="active" [routerLink]="['/register']">
                <span class="nav-link-inner--text">Регистрация</span>
              </button>
            </div>
<!--          </form>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
