<button class="btn btn-sm btn-buro-blue" [disabled]="isChanging" (click)="open(content)">
  Изменить пароль
  <span *ngIf="isChanging">&nbsp;<i class="fas fa-spin fa-spinner"></i></span>
</button>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Изменение пароля</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="changePassword()">
      <div class="form-group" *ngIf="model.id === currentUser.id">
        <label class="form-control-label" for="input-old-password">Старый пароль</label>
        <input type="password" id="input-old-password" class="form-control form-control-alternative" placeholder="Старый пароль"
               [(ngModel)]="oldPassword" name="oldPassword">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-new-password">Новый пароль</label>
        <input type="password" id="input-new-password" class="form-control form-control-alternative" placeholder="Новый пароль"
               [(ngModel)]="newPassword" name="newPassword">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-re-password">Подтверждение пароля</label>
        <input type="password" id="input-re-password" class="form-control form-control-alternative" placeholder="Подтверждение пароля"
               [(ngModel)]="rePassword" name="rePassword">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="changePassword()">Изменить</button>
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>
