<!-- Page content -->
<div class="container-fluid mt--7" *ngIf="userService.isAdmin()">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-9 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row">

            <div class="col-sm mb-3">
              <h3 class="mb-0">
                Справочник работ
              </h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-blue" (click)="addNew()"
                 *ngIf="userService.isAdmin()">
                Добавить
              </button>
              <button class="btn btn-sm btn-buro-blue" (click)="requestData()"
                      [disabled]="isLoading">
                Обновить
              </button>
            </div>

          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Наименование</th>
                <th scope="col" style="width: 28px;">&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="serviceWorkDictionaryController.all != null">
            <ng-container *ngFor="let serviceWorkDictionary of serviceWorkDictionaryController.all.data, let i = index" [attr.data-index]="i">
              <tr>
                <th scope="row" style="cursor: pointer;" (click)="navigate(serviceWorkDictionary)">
                  {{serviceWorkDictionary.attributes.name}}
                </th>
                <th>
                  <app-delete-button
                    [restService]="serviceWorkDictionaryService"
                    [model]="serviceWorkDictionary"
                    [modalTitle]="serviceWorkDictionary.attributes.name"
                    [isIcon]="true"
                    (onDelete)="requestData()"
                  ></app-delete-button>
                </th>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4 table-responsive">
          <app-loading-bar [isLoading]="isLoading" [atTop]="true"></app-loading-bar>
          <app-pagination *ngIf="serviceWorkDictionaryController.all != null"
                          [totalRecords]="serviceWorkDictionaryController.all.page.total_resources"
                          [page]="serviceWorkDictionaryController.filter.page"
                          [size]="serviceWorkDictionaryController.filter.size"
                          [disabled]="isLoading"
                          (onSizeChange)="setSize($event)"
                          (onPageChange)="goToPage($event)"></app-pagination>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <app-dictionaries-filter
        (onChange)="applyFilter()"
        [filter]="serviceWorkDictionaryController.filter"
      ></app-dictionaries-filter>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Данные работы: {{serviceWorkDictionaryController.selectedModel.is_new ? 'добавление' : 'редактирование'}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row form-group" *ngIf="serviceWorkDictionaryController.selectedModel as model">
      <div class="col-lg-12">
        <label class="form-control-label" for="name-input">Наименование</label>
        <input class="form-control form-control-sm form-control-alternative" id="name-input"
               [(ngModel)]="model.attributes.name" placeholder="Наименование">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="save(serviceWorkDictionaryController.selectedModel)" [disabled]="isSaving">
      Сохранить
      <span *ngIf="isSaving">&nbsp;<i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>
