<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5" [ngClass]="{ 'col-xl-12': model != null && ( model.userAdmin || model.userModerator ) }">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md mb-3">
              <h3 class="mb-0">{{title}}</h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-green" (click)="location.back()" *ngIf="showBack">
                Назад
              </button>
              <button class="btn btn-sm btn-buro-green" (click)="navigate( model )"
                      *ngIf="userService.currentUser != null && model != null && ( userService.currentUser.id == model.id || userService.currentUser.userAdmin )">
                Редактировать
              </button>
              <app-delete-button *ngIf="userService.isAdmin() && !userService.isSameUser(model)"
                                 [model]="model"
                                 [restService]="userService"
                                 [modalTitle]="userService.getModelUsername(model)"
                                 (onDelete)="location.back()"
                                 style="margin-right: .5rem"
              ></app-delete-button>
              <app-password-change-button [model]="model" [currentUser]="userService.currentUser"
                                          *ngIf="model != null && userService.currentUser != null
                                        && ( userService.currentUser.userAdmin || userService.currentUser.id === model.id )"></app-password-change-button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Личные данные</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="username">Логин</label>
                    <span id="username" class="form-control form-control-alternative">{{model.username}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="first-name">Имя</label>
                    <span id="first-name" class="form-control form-control-alternative">{{model.firstName}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="last-name">Фамилия</label>
                    <span id="last-name" class="form-control form-control-alternative">{{model.lastName}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="middle-name">Отчество</label>
                    <span id="middle-name" class="form-control form-control-alternative">{{model.middleName}}</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="model.userModerator">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" id="check-vacation" class="form-check-input" disabled
                             [(ngModel)]="model.inVacation" name="inVacation">
                      <label class="form-control-label" for="check-vacation">В отпуске</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <ng-container *ngIf="model.replacementModeratorId != null; else noReplacementModerator">
                    <label class="form-control-label" for="replacement-moderator">Замещающий модератор</label>
                    <span id="replacement-moderator" class="form-control form-control-alternative">{{model.replacementModeratorFio}}</span>
                  </ng-container>
                  <ng-template #noReplacementModerator>
                    <label class="form-control-label" for="no-replacement-moderator">Замещающий модератор</label>
                    <span id="no-replacement-moderator" class="form-control form-control-alternative">Не указан</span>
                  </ng-template>
                </div>
              </div>
              <div class="row" *ngIf="model.userServiceLeader">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="service-work-price">Стоимость работа по н/ч</label>
                    <span id="service-work-price" class="form-control form-control-alternative">{{model.serviceWorkPrice}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="service-goods-cost">Наценка на з/ч</label>
                    <span id="service-goods-cost" class="form-control form-control-alternative">
                      {{model.serviceGoodsCost}}<ng-container *ngIf="model.serviceGoodsCost != null">%</ng-container>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Контактная информация</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <span id="email" class="form-control form-control-alternative">{{model.email}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">Телефон</label>
                    <span id="phone" class="form-control form-control-alternative">{{model.phone}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Roles -->
            <h6 class="heading-small text-muted mb-4">Роли</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label">Роль</label>
                  <span class="form-control form-control-alternative" *ngFor="let role of model.roles">
                    {{role.nameRus}}
                  </span>
                </div>
                <div class="col-lg-6" *ngIf="model.userClient || model.userServiceLeader">
                  <label class="form-control-label" for="moderator">Модератор</label>
                  <span class="form-control form-control-alternative" id="moderator">
                    {{model.moderatorFio}}
                  </span>
                </div>
              </div>
            </div>
            <ng-container *ngIf="model != null && model.userServiceLeader">
              <hr class="my-4" />
              <!-- Shops -->
              <h6 class="heading-small text-muted mb-4">Магазины</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <ng-container *ngFor="let shop of shops">
                    <div class="col-auto" *ngIf="containsShop(model, shop.id)">
                      <div class="img-container">
                        <img src="assets/img/shops/{{shop.imgName}}" class="shop-image" alt="{{shop.name}}"/>
                      </div>
                      <div class="text-center shop-name">
                        {{shop.name}}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4 mb-5" *ngIf="model != null && ( model.userClient || model.userServiceLeader )">
      <div class="card bg-secondary shadow">

        <div class="card-header bg-white border-0">
          <app-loading-bar [isLoading]="isADLoading || userService.isSaving"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md">
              <h3 class="mb-0">АвтоДилер</h3>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-lg-12" *ngIf="model != null">

              <div class="form-group" *ngIf="model.userClient && clientResponse != null">
                <label class="form-control-label" for="client-full-name">Имя клиента</label>
                <span id="client-full-name" class="form-control form-control-alternative">{{clientResponse.fullName}}</span>
              </div>

              <div class="form-group" *ngIf="model.userServiceLeader && organizationResponse != null">
                <label class="form-control-label" for="organization-full-name">Наименование предприятия</label>
                <span id="organization-full-name" class="form-control form-control-alternative">{{organizationResponse.fullName}}</span>
              </div>

              <div class="form-group" *ngIf="( model.userServiceLeader && model.organizationId == null ) ||
              ( model.userClient && model.clientId == null )">
                <span class="form-control form-control-alternative">Необходимо выполнить привязку к системе АвтоДилер</span>
              </div>

              <div class="form-group"
                   *ngIf="userService.isModeratorOrAdmin() && model != null && model.id != userService.currentUser.id">
                <button class="btn btn-buro-green" [disabled]="model.clientId == null && model.organizationId == null" (click)="approve( model, true )" *ngIf="!model.isApproved; else disapprove">
                  Подвердить
                </button>
                <ng-template #disapprove>
                  <button class="btn btn-buro-green" (click)="approve( model, false )">
                    Отменить
                  </button>
                </ng-template>
                <button class="btn btn-danger" (click)="removeLink( model )" [disabled]="model.clientId == null && model.organizationId == null">
                  Отклонить
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
