<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5" [ngClass]="{ 'col-xl-12': model != null && ( model.admin || model.moderator ) }">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-md mb-3">
              <h3 class="mb-0">{{title}}</h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-green" (click)="location.back()" *ngIf="showBack">
                Назад
              </button>
              <button class="btn btn-sm btn-buro-green" (click)="navigate( model )"
                      *ngIf="userService.currentUser != null && model != null && ( userService.currentUser.id == model.id || userService.currentUser.admin )">
                Редактировать
              </button>
              <app-password-change-button [model]="model" [currentUser]="userService.currentUser"
                                          *ngIf="model != null && userService.currentUser != null
                                          && ( userService.currentUser.admin || userService.currentUser.id === model.id )"></app-password-change-button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Личные данные</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="username">Логин</label>
                    <span id="username" class="form-control form-control-alternative">{{model.username}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="first-name">Имя</label>
                    <span id="first-name" class="form-control form-control-alternative">{{model.firstName}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="last-name">Фамилия</label>
                    <span id="last-name" class="form-control form-control-alternative">{{model.lastName}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="middle-name">Отчество</label>
                    <span id="middle-name" class="form-control form-control-alternative">{{model.middleName}}</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="model.moderator">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" id="check-vacation" class="form-check-input" disabled
                             [(ngModel)]="model.inVacation" name="inVacation">
                      <label class="form-control-label" for="check-vacation">В отпуске</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <ng-container *ngIf="model.replacementModeratorId != null; else noReplacementModerator">
                    <label class="form-control-label" for="replacement-moderator">Замещающий модератор</label>
                    <span id="replacement-moderator" class="form-control form-control-alternative">{{model.replacementModeratorFio}}</span>
                  </ng-container>
                  <ng-template #noReplacementModerator>
                    <label class="form-control-label" for="no-replacement-moderator">Замещающий модератор</label>
                    <span id="no-replacement-moderator" class="form-control form-control-alternative">Не указан</span>
                  </ng-template>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Контактная информация</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <span id="email" class="form-control form-control-alternative">{{model.email}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">Телефон</label>
                    <span id="phone" class="form-control form-control-alternative">{{model.phone}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Roles -->
            <h6 class="heading-small text-muted mb-4">Роли</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-group list-group-flush" *ngFor="let role of model.roles">
                    <li class="list-group-item">{{role.nameRus}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <ng-container *ngIf="model != null && model.serviceLeader">
              <hr class="my-4" />
              <!-- Shops -->
              <h6 class="heading-small text-muted mb-4">Магазины</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <ng-container *ngFor="let shop of shops">
                    <div class="col-auto" *ngIf="containsShop(model, shop.id)">
                      <div class="img-container">
                        <img src="assets/img/shops/{{shop.imgName}}" class="shop-image" alt="{{shop.name}}"/>
                      </div>
                      <div class="text-center shop-name">
                        {{shop.name}}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4 mb-5" *ngIf="model != null && ( model.client || model.serviceLeader )">
      <div class="card bg-secondary shadow">

        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-md">
              <h3 class="mb-0">АвтоДилер</h3>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-lg-12" *ngIf="model != null">

              <div class="form-group" *ngIf="model.client && clientResponse != null">
                <label class="form-control-label" for="client-full-name">Имя клиента</label>
                <span id="client-full-name" class="form-control form-control-alternative">{{clientResponse.fullName}}</span>
              </div>

              <div class="form-group" *ngIf="model.serviceLeader && organizationResponse != null">
                <label class="form-control-label" for="organization-full-name">Наименование предприятия</label>
                <span id="organization-full-name" class="form-control form-control-alternative">{{organizationResponse.fullName}}</span>
              </div>

              <div class="form-group" *ngIf="( model.serviceLeader && model.organizationId == null ) ||
              ( model.client && model.clientId == null )">
                <span class="form-control form-control-alternative">Необходимо выполнить привязку к системе АвтоДилер</span>
              </div>

              <div class="form-group"
                   *ngIf="userService.currentUser != null && model != null && userService.currentUser.moderator && model.id != userService.currentUser.id">
                <button class="btn btn-buro-green" [disabled]="model.clientId == null && model.organizationId == null" (click)="approve( model, true )" *ngIf="!model.isApproved; else disapprove">
                  Подвердить<span *ngIf="userService.isSaving">&nbsp;<i class="fas fa-spinner fa-spin"></i></span>
                </button>
                <ng-template #disapprove>
                  <button class="btn btn-buro-green" (click)="approve( model, false )">
                    Отменить<span *ngIf="userService.isSaving">&nbsp;<i class="fas fa-spinner fa-spin"></i></span>
                  </button>
                </ng-template>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
