<div class="row">
  <div class="col-auto ml-auto mb-2">
    <nav aria-label="..." *ngIf="pagesInfo.length > 0">
      <ul class="pagination justify-content-end mb-0">

        <li class="page-item" [ngClass]="{disabled: disabled || isFirst}">
          <a class="page-link" tabindex="-1" (click)="goToPage( page - 1, $event )">
            <i class="fas fa-angle-left"></i>
          </a>
        </li>

        <li class="page-item" *ngFor="let pageInfo of pagesInfo" [ngClass]="{active: pageInfo == page, disabled: disabled}">
          <a class="page-link" (click)="goToPage( pageInfo, $event )">{{pageInfo}}</a>
        </li>

        <li class="page-item" [ngClass]="{disabled: disabled || isLast}">
          <a class="page-link" (click)="goToPage( page + 1, $event )">
            <i class="fas fa-angle-right"></i>
          </a>
        </li>

      </ul>
    </nav>
  </div>
  <div class="col-auto">
    <nav aria-label="..." *ngIf="pagesInfo.length > 0">
      <ul class="pagination justify-content-end mb-0">

        <li class="page-item" [ngClass]="{active: size == 5, disabled: disabled}">
          <a class="page-link" (click)="setSize( 5, $event )">5</a>
        </li>
        <li class="page-item" [ngClass]="{active: size == 10, disabled: disabled}">
          <a class="page-link" (click)="setSize( 10, $event )">10</a>
        </li>
        <li class="page-item" [ngClass]="{active: size == 25, disabled: disabled}">
          <a class="page-link" (click)="setSize( 25, $event )">25</a>
        </li>
        <li class="page-item" [ngClass]="{active: size == 50, disabled: disabled}">
          <a class="page-link" (click)="setSize( 50, $event )">50</a>
        </li>

      </ul>
    </nav>
  </div>
</div>
