.opponents-list {
  height: 50vh;
  overflow: auto;
}
.opponents-list > .opponent:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid rgba(96, 182, 28, 0.25);
}
.opponents-list > .opponent:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  //border-top: none;
}
.opponents-list > .opponent {
  //border-left: 2px solid transparent;
  border-left: 1px solid rgba(96, 182, 28, 0.25);
  border-right: 1px solid rgba(96, 182, 28, 0.25);
  border-bottom: 1px solid rgba(96, 182, 28, 0.25);
  cursor: pointer;
  padding: 3px 0 3px 6px;
  min-height: 45px;
}
.opponents-list > .opponent.active {
  //border-left: 2px solid #60B61C;
  background: rgba(96, 182, 28, 0.1);
}
.opponents-list > .opponent.delimeter {
  //border-bottom: 1px solid #cccccc;
}
.chat-block {
  height: 50vh;
}
.chat-block > .chat-messages {
  height: calc(100% - 51px);
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
}
.chat-block > .chat-messages.active {
  border: 1px solid rgba(96, 182, 28, 0.25);
}
.chat-block > .chat-messages .message {
  margin-bottom: 10px;
}
.chat-block > .chat-messages .message.right > .message-header,
.chat-block > .chat-messages .message.right > .message-body {
  text-align: right;
}
.chat-block > .chat-messages .message.right > .message-body > .message-text {
  border-radius: 9px 0 9px 9px;
}
.chat-block > .chat-messages .message > .message-header {
  margin-bottom: 3px;
  color: #8898AA;
  font-size: 12px;
}
.chat-block > .chat-messages .message > .message-body {
  font-size: 13px;
}
.chat-block > .chat-messages .message > .message-body > .message-text {
  display: inline-block;
  padding: 6px;
  border-radius: 0 9px 9px 9px;
  background: rgba(96, 182, 28, 0.1);
}
.chat-block > .chat-messages .message > .message-body > .upload-file {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  border-radius: 6px;
  margin: 3px 0 3px 0;
  padding: 3px;
  font-size: 12px;
  cursor: pointer;
}
.chat-block > .chat-messages .message > .message-body .upload-file-button {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chat-block > .chat-input {
  height: 51px;
  padding-top: 20px;
}
@media (max-width: 991px) {
  .opponents-list {
    height: auto;
    overflow: auto;
  }
  .chat-block {
    height: 70vh;
  }
}
