<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-9 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row">

            <div class="col-sm mb-3">
              <h3 class="mb-0">
                Заказ-наряды
              </h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-green" (click)="requestData()"
                      [disabled]="isLoading || userService.isServiceLeaderWithRestrictedAccess()">
                Обновить
              </button>
            </div>

          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Номер</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Состояние</th>
                <th scope="col" style="max-width: 200px;">Клиент</th>
                <th scope="col">Автомобиль</th>
                <th scope="col">Гос. номер</th>
                <th scope="col">Сумма, руб.</th>
              </tr>
            </thead>
            <ng-container *ngIf="userService.isServiceLeaderWithRestrictedAccess(); else documentsBlock">
              <tbody>
              <tr>
                <th colspan="8" class="text-muted text-center">
                  <span *ngIf="userService.isServiceLeaderWithEmptySubscription()">
                    Для просмотра заказ-нарядов необходимо оформить тариф. Список тарифов доступен в соответсвующем пункте меню.
                  </span>
                  <span *ngIf="userService.isServiceLeaderWithInvalidBalance()">
                    Для просмотра заказ-нарядов необходимо пополнить баланс.
                  </span>
                </th>
              </tr>
              </tbody>
            </ng-container>
            <ng-template #documentsBlock>
              <tbody *ngIf="documentResponseController.all != null">
              <ng-container *ngFor="let fbResponse of documentResponseController.all.content, let i = index" [attr.data-index]="i">

                <ng-container *ngIf="fbResponse.isInactive; else activeRow">
                  <tr class="text-muted" [ngbTooltip]="'Заказ-наряд выходит за рамки доступных заказ-нарядов по тарифу'">
                    <th scope="row">
                      {{fbResponse.documentNumber}}
                    </th>
                    <th>{{fbResponse.startDate}}</th>
                    <th>{{fbResponse.endDate}}</th>
                    <th>
                      <span class="badge badge-dot">
                        <i class="bg-{{fbResponse.style}}"></i>{{fbResponse.stateRus}}
                      </span>
                    </th>
                    <th>{{fbResponse.client}}</th>
                    <th>{{fbResponse.vehicle.name}}</th>
                    <th>{{fbResponse.vehicle.regNumber}}</th>
                    <th>{{fbResponse.sum | number:'.2':'ru'}}</th>
                  </tr>
                </ng-container>

                <ng-template #activeRow>
                  <tr>
                    <th scope="row" style="cursor: pointer;" (click)="select(fbResponse)">
                      {{fbResponse.documentNumber}}
                      &nbsp;
                      <i class="far fa-check-circle" *ngIf="selected === fbResponse"></i>
                      <i class="far fa-circle" *ngIf="selected !== fbResponse"></i>
                    </th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.startDate}}</th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.endDate}}</th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">
                  <span class="badge badge-dot">
                    <i class="bg-{{fbResponse.style}}"></i>{{fbResponse.stateRus}}
                  </span>
                    </th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.client}}</th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.vehicle.name}}</th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.vehicle.regNumber}}</th>
                    <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.sum | number:'.2':'ru'}}</th>
                  </tr>

                </ng-template>

              </ng-container>
              </tbody>
            </ng-template>
          </table>
        </div>
        <div class="card-footer py-4 table-responsive">
          <app-loading-bar [isLoading]="isLoading" [atTop]="true"></app-loading-bar>
          <app-pagination *ngIf="documentResponseController.all != null"
                          [totalPages]="documentResponseController.all.totalPages"
                          [isFirst]="documentResponseController.all.first"
                          [isLast]="documentResponseController.all.last"
                          [page]="documentResponseController.filter.page"
                          [size]="documentResponseController.filter.size"
                          [disabled]="isLoading"
                          (onSizeChange)="setSize($event)"
                          (onPageChange)="goToPage($event)"></app-pagination>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <app-document-filter (onChange)="applyFilter()"
                           [filter]="documentResponseController.filter"
                           [document]="selected"
                           [disabled]="userService.isServiceLeaderWithRestrictedAccess()"
                           (onOrganizationChange)="documentResponseController.emitOrganizationChange()"></app-document-filter>
    </div>
  </div>
</div>
