<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-9 mb-5">
      <div class="card shadow">
        <div class="card-header border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row">

            <div class="col-sm mb-3">
              <h3 class="mb-0">
                Заказ-наряды
              </h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-green" (click)="requestData()" [disabled]="isLoading">
                Обновить
              </button>
            </div>

          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Номер</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Состояние</th>
                <th scope="col" style="max-width: 200px;">Клиент</th>
                <th scope="col">Автомобиль</th>
                <th scope="col">Гос. номер</th>
                <th scope="col">Сумма, руб.</th>
              </tr>
            </thead>
            <tbody *ngIf="all != null">
            <tr *ngFor="let fbResponse of all.content, let i = index" [attr.data-index]="i">
              <th scope="row" style="cursor: pointer;" (click)="selected = fbResponse">
                {{fbResponse.documentNumber}}
                &nbsp;
                <i class="far fa-check-circle" *ngIf="selected === fbResponse"></i>
                <i class="far fa-circle" *ngIf="selected !== fbResponse"></i>
              </th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.startDate}}</th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.endDate}}</th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">
                  <span class="badge badge-dot">
                    <i class="bg-{{fbResponse.style}}"></i>{{fbResponse.stateRus}}
                  </span>
              </th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.client}}</th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.vehicle.name}}</th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.vehicle.regNumber}}</th>
              <th style="cursor: pointer;" (click)="navigate(fbResponse)">{{fbResponse.sum | number:'.2':'ru'}}</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4 table-responsive">
          <app-loading-bar [isLoading]="isLoading" [atTop]="true"></app-loading-bar>
          <app-pagination *ngIf="all != null"
                          [totalPages]="all.totalPages"
                          [isFirst]="all.first"
                          [isLast]="all.last"
                          [page]="filter.page"
                          [size]="filter.size"
                          [disabled]="isLoading"
                          (onSizeChange)="setSize($event)"
                          (onPageChange)="goToPage($event)"></app-pagination>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-5">
      <app-document-filter (onChange)="applyFilter()" [filter]="filter" [document]="selected"></app-document-filter>
    </div>
  </div>
</div>
