<button class="btn btn-sm btn-buro-blue" [disabled]="isSharing || disabled"
        [ngbTooltip]="'Поделиться...'" (click)="open(content, null)" *ngIf="!isLink">
  <span>
    <i class="fas fa-share"></i>
    <span *ngIf="isSharing">&nbsp;<i class="fas fa-spin fa-spinner"></i></span>
  </span>
</button>
<ng-container *ngIf="isLink">
  <a href="#" style="color: #5A6FF9;" [ngbTooltip]="'Поделиться...'" (click)="open(content, $event)" *ngIf="!disabled">
  <span>
    &nbsp;
    <i class="fas fa-share"></i>
    <span *ngIf="isSharing">&nbsp;<i class="fas fa-spin fa-spinner"></i></span>
  </span>
  </a>
  <a style="color: #dddddd;" *ngIf="disabled">
  <span>
    &nbsp;
    <i class="fas fa-share"></i>
  </span>
  </a>
</ng-container>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Поделиться ссылкой на заказ-наряд {{document.documentNumber}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label" for="select-opponent">Пользователь</label>
      <select  id="select-opponent" class="form-control form-control-sm" [(ngModel)]="selectedOpponent" [disabled]="isSharing">
        <option *ngFor="let opponent of opponents" [ngValue]="opponent">
          {{ opponent.fio }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="input-message-text">Комментарий</label>
      <input type="text" id="input-message-text" class="form-control form-control-alternative"
             placeholder="Комментарий (не обязательно к заполнению)" [(ngModel)]="messageText" name="messageText">
    </div>

    <div class="form-group" *ngIf="serviceWork != null">
      Указаны работы: {{serviceWork.name}}
    </div>
    <div class="form-group" *ngIf="serviceGoodsAddon != null">
      Указан товар: {{serviceGoodsAddon.fullName}}
    </div>
    <div class="form-group" *ngIf="clientGoodsOut != null">
      Указан товар клиента: {{clientGoodsOut.fullName}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-buro-blue" [disabled]="selectedOpponent == null || isSharing" (click)="share()">
      Поделиться
      <span *ngIf="isSharing">&nbsp;<i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <button type="button" class="btn btn-sm btn-buro-blue" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>
