::ng-deep .wide-modal .modal-dialog {
  max-width: 90%;
  width: 90%;
}
::ng-deep .wide-modal .modal-content {
  background: #f8f9fe;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #60B61C;
}
button:focus {
  outline: none !important;
}
