<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/dashboard']">
<!--      {{getTitle()}}-->
    </a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" style="cursor: pointer;" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
      <span class="avatar avatar-sm rounded-circle">
        <i class="fas fa-bell"></i>
      </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right event-list" ngbDropdownMenu>
          <ng-container *ngIf="eventMessageResponseService.messages.length === 0">
            <div class="dropdown-item-text small text-muted">
              Уведомления не найдены...
            </div>
          </ng-container>
          <ng-container *ngIf="eventMessageResponseService.messages.length > 0">
            <div class="dropdown-item-text small" *ngFor="let message of eventMessageResponseService.messages">
              {{message.messageDate | date : 'dd.MM.yyyy HH:mm:ss'}}
              <div *ngIf="message.messageType === 'DOCUMENT_CHANGE'">
                Пользователь <a [routerLink]="['/users', message.fromId]">{{message.fromFio}}</a> изменил документ <a [routerLink]="['/documents', message.documentId]">{{message.documentName}}</a>:
                <div class="text-muted">
                  {{message.additionalInformation}}
                </div>
              </div>
              <div *ngIf="message.messageType === 'MODERATOR_REPLACEMENT'">
                Модератор {{message.fromFio}} назначил вас своим замещающим
              </div>
            </div>
          </ng-container>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" style="cursor: pointer;" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <i class="fas fa-user-tie"></i>
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">
                <span [innerHTML]="getUsername()"></span>
              </span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Добро пожаловать</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="fas fa-user text-buro-green"></i>
            <span>Профиль</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out-alt text-buro-green"></i>
            <span>Выход</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
