<div class="card shadow">
  <div class="card-body">

    <div class="row">
      <div class="col-sm mb-3">
        <h3 class="text-muted mb-0">
          Фильтры
        </h3>
      </div>
      <div class="col-auto mb-3">
        <button class="btn btn-sm btn-buro-blue" (click)="resetFilters()" *ngIf="filter.name ||
        filter.inn || filter.phone || filter.email">
          Сбросить
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="name-input">Полное наименование</label>
      <div class="input-group input-group-alternative input-group-sm">
        <input id="name-input" class="form-control" placeholder="Полное наименование"
               [(ngModel)]="filter.name" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-blue" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="phone-input">Телефон</label>
      <div class="input-group input-group-alternative input-group-sm">
        <input id="phone-input" class="form-control" placeholder="Телефон"
               [(ngModel)]="filter.phone" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-blue" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="email-input">Email</label>
      <div class="input-group input-group-alternative input-group-sm">
        <input id="email-input" class="form-control" placeholder="Email"
               [(ngModel)]="filter.email" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-blue" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="inn-input">ИНН</label>
      <div class="input-group input-group-alternative input-group-sm">
        <input id="inn-input" class="form-control" placeholder="ИНН"
               [(ngModel)]="filter.inn" (keyup.enter)="emitChange()">
        <div class="input-group-append">
          <button class="btn btn-buro-blue" type="button" (click)="emitChange()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="text-muted">
          Сортировка
        </h3>
      </div>
      <div *ngIf="filter.sort !== 'name' || filter.direction !== 'asc'" class="col-auto text-muted">
        <button class="btn btn-sm btn-buro-blue" (click)="resetSort()">
          Сбросить
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="sort-select">Сортировать по:</label>
      <select id="sort-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.sort" (change)="emitChange()">
        <option [selected]="'name' === filter.sort" [ngValue]="'name'">
          Полное наименование
        </option>
        <option [selected]="'inn' === filter.sort" [ngValue]="'inn'">
          ИНН
        </option>
        <option [selected]="'phone' === filter.sort" [ngValue]="'phone'">
          Телефон
        </option>
        <option [selected]="'email' === filter.sort" [ngValue]="'email'">
          Email
        </option>
        <option [selected]="'address' === filter.sort" [ngValue]="'address'">
          Адрес
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="direction-select">Порядок сортировки:</label>
      <select id="direction-select" class="form-control form-control-sm form-control-alternative" [(ngModel)]="filter.direction" (change)="emitChange()">
        <option [selected]="'asc' === filter.direction" [ngValue]="'asc'">
          По возрастанию
        </option>
        <option [selected]="'desc' === filter.direction" [ngValue]="'desc'">
          По убыванию
        </option>
      </select>
    </div>
  </div>
</div>
