<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-9 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row">

            <div class="col-sm mb-3">
              <h3 class="mb-0">
                Пользователи
              </h3>
            </div>
            <div class="col-auto">
              <a href="#" class="btn btn-sm btn-buro-blue" [routerLink]="['/users/add']"
                 *ngIf="userService.isAdmin()">
                Добавить
              </a>
              <button class="btn btn-sm btn-buro-blue" (click)="requestData()" [disabled]="isLoading">
                Обновить
              </button>
            </div>

          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Телефон</th>
                <th scope="col">Email</th>
                <th scope="col">Роли</th>
                <th scope="col">
                  Авторегистрация
                </th>
              </tr>
            </thead>
            <tbody *ngIf="userController.all != null">
            <tr *ngFor="let user of userController.all.data, let i = index" [attr.data-index]="i" style="cursor: pointer;" (click)="navigate(user)">
              <th>{{user.attributes.lastName}}</th>
              <th>{{user.attributes.firstName}}</th>
              <th>{{user.attributes.middleName}}</th>
              <th>{{user.attributes.phone}}</th>
              <th>{{user.attributes.email}}</th>
              <th>
                <span *ngFor="let userRole of user.relationships.roles.data">
                  {{userRole.attributes.nameRus}}&nbsp;
                </span>
              </th>
              <th>
                <ng-container *ngIf="user.attributes.userClient">
                  {{user.attributes.isAutoRegistered ? 'Да' : 'Нет'}}
                </ng-container>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4 table-responsive">
          <app-loading-bar [isLoading]="isLoading" [atTop]="true"></app-loading-bar>
          <app-pagination *ngIf="userController.all != null"
                          [totalRecords]="userController.all.page.total_resources"
                          [page]="userController.filter.page"
                          [size]="userController.filter.size"
                          [disabled]="isLoading"
                          (onSizeChange)="setSize($event)"
                          (onPageChange)="goToPage($event)"></app-pagination>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <app-user-filter (onChange)="applyFilter()" [filter]="userController.filter"></app-user-filter>
    </div>
  </div>
</div>
