<div>
  <div class="link-container">
    <div class="link-detail">
      <span class="text-muted">Документ:</span> {{message.documentNumber}}
    </div>
    <div>
      <span class="text-muted">Статус:</span> {{message.documentState}}
    </div>
    <div>
      <span class="text-muted">Дата:</span> {{message.documentDate | date : 'dd.MM.yyyy'}}
    </div>
    <ng-container *ngIf="message.chatMessageType === 'SERVICE_WORK'">
      <div>
        <span class="text-muted">Работы:</span> {{message.serviceWorkName}}
      </div>
    </ng-container>
    <ng-container *ngIf="message.chatMessageType === 'SERVICE_GOODS_ADDON'">
      <div>
        <span class="text-muted">Товар:</span> {{message.serviceGoodsAddonName}}
      </div>
    </ng-container>
    <ng-container *ngIf="message.chatMessageType === 'CLIENT_GOODS_OUT'">
      <div>
        <span class="text-muted">Товар клиента:</span> {{message.clientGoodsOutName}}
      </div>
    </ng-container>
    <div class="link-route" (click)="navigateToDocument( message.documentId )">
      <i class="fas fa-chevron-circle-right"></i> Перейти
    </div>
  </div>
</div>

