.link-container {
  padding: 6px;
  //border: rgba(90, 111, 249, 0.25);
  border-radius: 9px;
  //background: rgba(90, 111, 249, 0.1);
  background: rgba(247, 151, 22, 0.1);
  max-width: 50%;
  display: inline-block;
  margin-top: 5px;
}
.link-container > .link-detail {
  display: block;
}
.link-container > .link-route {
  margin-top: 3px;
  //border-top: 1px solid rgba(90, 111, 249, 0.25);
  padding-top: 3px;
  text-align: center;
  //color: #F79716;
  cursor: pointer;
}
.link-container > .link-route:hover {
  color: #F79716;
}
