<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>BUROMOTORS</title>
    <style>
        a {
            color: #F79716 !important;
        }
    </style>
</head>
<body>
    <div style="margin-bottom: 20px; padding-left: 10px;">
        <img src="{{originalDomain}}/assets/img/brand/buromotors.png" alt="BUROMOTORS" style="max-height: 50px;"/>
    </div>
    <br>
    <div style="display: inline-block; border-top: 1px solid #60B61C; border-bottom: 1px solid #60B61C; padding: 10px;">
        {{{content}}}
    </div>
    <br>
    <div style="color: #8898aa; padding-left: 10px;">
        <p>Это письмо отправлено из приложения <a href="{{originalDomain}}">BUROMOTORS</a>.</p>
        <p>Если вы считаете, что оно было отправлено вам по ошибке, пожалуйста, проигнорируйте его.</p>
    </div>
</body>
</html>

