<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-3 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <app-loading-bar [isLoading]="isProcessing"></app-loading-bar>
          <h3 class="mb-0">
            Пополнение баланса
          </h3>
        </div>
        <div class="card-body">

          <div class="row form-group">
            <div class="col">
              <label class="form-control-label">Сумма, руб.</label>
              <input class="form-control form-control-sm form-control-alternative" type="number" min="0" step=".10"
                     (keyup.enter)="sendRequest()" placeholder="сумма, руб." [(ngModel)]="amount" [disabled]="userService.isDemoDomain()">
            </div>
          </div>

          <div class="row form-group justify-content-end">
            <div class="col-auto">
              <button class="btn btn-buro-blue btn-sm" [disabled]="amount == null || amount <= 0 || userService.isDemoDomain()"
                      (click)="sendRequest()">Оплатить картой</button>
            </div>
          </div>

          <div class="row form-group">
            <div class="col mb-2">
              <div class="payment-logo">
                <img src="assets/img/payment/Visa-Inc.-logo.svg" alt="Visa Inc."/>
              </div>
            </div>
            <div class="col mb-2">
              <div class="payment-logo">
                <img src="assets/img/payment/Mastercard-logo.svg" alt="Mastercard Worldwide"/>
              </div>
            </div>
            <div class="col mb-2">
              <div class="payment-logo">
                <img src="assets/img/payment/mir-logo.svg" alt="МИР"/>
              </div>
            </div>
            <div class="col mb-2">
              <div class="payment-logo">
                <img src="assets/img/payment/JCB-logo.svg" alt="JCB"/>
              </div>
            </div>
          </div>

          <div class="row form-group" *ngIf="!isPromised">
            <div class="col">
              <button class="btn btn-buro-blue btn-sm btn-block" [disabled]="userService.isDemoDomain()"
                      (click)="togglePromised()">Обещанный платеж</button>
            </div>
          </div>

          <ng-container *ngIf="isPromised">

            <hr class="my-4" />

            <div class="row form-group">
              <div class="col">
                <h3 class="mb-0">Обещанный платеж</h3>
              </div>
            </div>

            <ng-container *ngIf="promisedStatus != null && !promisedStatus.isAvailable">
              <div class="row form-group">
                <div class="col text-justify">
                  <div class="font-weight-bold mb-1">Внимание!</div>
                  <div>Вы уже оформили обещанный платеж!</div>
                  <div>Следующее оформление будет доступно {{promisedStatus.availableDate | date : 'dd.MM.yyyy'}}.</div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="promisedStatus != null && promisedStatus.isAvailable">

              <ng-container *ngFor="let cost of promisedStatus.availableCosts">
                <div class="row form-group">
                  <div class="col">
                    <button class="btn btn-sm btn-buro-blue btn-block" (click)="sendPromisedRequest(cost)" [disabled]="isProcessing">
                      {{cost | number : '.2' : 'ru'}} руб.
                    </button>
                  </div>
                </div>
              </ng-container>
              <div class="row form-group" *ngIf="totalSum">
                <div class="col">
                  <button class="btn btn-sm btn-buro-blue btn-block" (click)="sendPromisedRequest(totalSum)" [disabled]="isProcessing">
                    {{totalSum | number : '.2' : 'ru'}} руб.
                  </button>
                </div>
              </div>

<!--              <div class="row form-group">-->
<!--                <div class="col">-->
<!--                  <label class="form-control-label">Сумма, руб.</label>-->
<!--                  <input class="form-control form-control-sm form-control-alternative" type="number" min="0" step=".10"-->
<!--                         (keyup.enter)="sendPromisedRequest()" placeholder="сумма обещанного платежа, руб." [(ngModel)]="promisedAmount">-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row form-group justify-content-end">-->
<!--                <div class="col-auto">-->
<!--                  <button class="btn btn-buro-blue btn-sm" [disabled]="promisedAmount == null || promisedAmount <= 0"-->
<!--                          (click)="sendPromisedRequest()">Запросить</button>-->
<!--                </div>-->
<!--              </div>-->

              <div class="row form-group">
                <div class="col text-justify">
                  <div class="mb-1">Обещанный платеж выдается на <span class="font-weight-bold">7</span> календарных дней. По истечению этого срока, выданные средства будут списаны с вашего баланса.</div>
                  <div class="mb-1">Обещанный платеж возможно получить один раз в течение <span class="font-weight-bold">30</span> календарных дней.</div>
                  <div class="font-weight-bold mb-1">Внимание!</div>
                  <div>Если, после списания средств, ваш баланс будет ниже нуля, вам будут недоступны основные функции сервиса (чат, заказ-наряды, отчеты)!</div>
                </div>
              </div>

            </ng-container>

          </ng-container>

          <div class="row mt-3" *ngIf="paymentStatus === 'SUCCESS'">
            <div class="h4 col">
              <div class="alert alert-success text-center" role="alert">
                Платеж успешно произведен!
              </div>
            </div>
          </div>

          <div class="row mt-3" *ngIf="paymentStatus === 'FAIL'">
            <div class="h4 col">
              <div class="alert alert-danger text-center" role="alert">
                При проведении платежа возникла ошибка!
              </div>
            </div>
          </div>

          <div class="row form-group" *ngIf="userService.isDemoDomain()">
            <div class="col text-justify">
              <div class="font-weight-bold mb-1">Внимание!</div>
              <div class="">Пополнение баланса и обещанный платеж недоступны в демонстрационном режиме.</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xl-9 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row">

            <div class="col-sm mb-3">
              <h3 class="mb-0">
                Запросы на оплату
              </h3>
            </div>
            <div class="col-auto">
              <input class="form-control form-control-alternative form-control-sm" id="from-date-picker" [mode]="'day'"
                     placeholder="выберите дату - от"
                     (ngModelChange)="setFromDate($event)" [(ngModel)]="fromDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
            </div>
            <div class="col-auto">
              <input class="form-control form-control-alternative form-control-sm" id="to-date-picker" [mode]="'day'"
                     placeholder="выберите дату - до"
                     (ngModelChange)="setToDate($event)" [(ngModel)]="toDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-blue" (click)="requestData()" [disabled]="isLoading">
                Обновить
              </button>
            </div>

          </div>
        </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush table-hover table-sm">
              <thead class="thead-light">
              <tr>
                <th scope="col">Номер запроса</th>
                <th scope="col">Тип запроса</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата обработки</th>
                <th scope="col">Статус</th>
                <th scope="col">Ошибка</th>
              </tr>
              </thead>
              <tbody *ngIf="paymentRecords != null">
              <tr *ngFor="let paymentRecord of paymentRecords.data">
                <th>
                  {{paymentRecord.attributes.orderNumber}}
                </th>
                <th>
                  {{paymentRecord.typeRus}}
                </th>
                <th>
                  {{paymentRecord.amount | number : '.2' : 'ru'}} р.
                </th>
                <th>
                  {{paymentRecord.attributes.createDate | date : 'dd.MM.yyyy HH:mm:ss'}}
                </th>
                <th>
                  {{paymentRecord.attributes.registerDate | date : 'dd.MM.yyyy HH:mm:ss'}}
                </th>
                <th>
                  {{paymentRecord.stateRus}}
                </th>
                <th>
                  {{paymentRecord.attributes.actionCodeDescription}}
                </th>
              </tr>
              </tbody>
            </table>
          </div>

          </div>

        </div>
      </div>

  <div class="row">
    <div class="col mt-xl-5">
      <div class="card shadow">
        <div class="card-body text-justify">
          <p>
            Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
          </p>
          <p>
            Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
