<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0" [ngClass]="{ 'col-xl-12': model != null && ( model.userAdmin || model.userModerator ) }">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <app-loading-bar [isLoading]="isLoading || userService.isSaving"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md mb-3">
              <h3 class="mb-0">Данные пользователя: редактирование</h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-blue" [disabled]="userService.isSaving" (click)="location.back()">
                Назад
              </button>
              <button class="btn btn-sm btn-buro-blue" [disabled]="userService.isSaving"
                      *ngIf="userService.isAdmin() || userService.isSameUser( model )"
                      (click)="userService.saveUser( model, 'Пользователь успешно сохранен!' )">
                Сохранить
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Личные данные</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Логин</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Логин"
                           disabled="true" [value]="model.username" name="username">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Имя</label>
                    <input type="email" id="input-first-name" class="form-control form-control-alternative" placeholder="Имя"
                           [(ngModel)]="model.firstName" name="firstName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Фамилия</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Фамилия"
                           [(ngModel)]="model.lastName" name="lastName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-middle-name">Отчество</label>
                    <input type="text" id="input-middle-name" class="form-control form-control-alternative" placeholder="Отчество"
                           [(ngModel)]="model.middleName" name="middleName">
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="model.userModerator && userService.isSameUser( model )">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" id="check-vacation" class="form-check-input"
                             [(ngModel)]="model.inVacation" name="inVacation">
                      <label class="form-control-label" for="check-vacation">В отпуске</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-control-label" for="replacement-moderator-select">Замещающий модератор</label>
                  <select id="replacement-moderator-select" class="form-control form-control-sm form-control-alternative"
                          [(ngModel)]="model.replacementModeratorId" [ngModelOptions]="{standalone: true}">
                    <option [selected]="model.replacementModeratorId === null" [ngValue]="null">
                      Не указан
                    </option>
                    <option [selected]="model.replacementModeratorId != null && model.replacementModeratorId === moderator.id" [ngValue]="moderator.id"
                            *ngFor="let moderator of replaceModerators">
                      {{moderator.fio}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row" *ngIf="model.userServiceLeaderOrFreelancer">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-service-work-price">Стоимость работа по н/ч</label>
                    <input type="number" step="100" min="0" id="input-service-work-price" class="form-control form-control-alternative" placeholder="Стоимость работа по Н/Ч"
                           [(ngModel)]="model.serviceWorkPrice" name="serviceWorkPrice">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-service-goods-cost">Наценка на з/ч, %</label>
                    <input type="number" step="0.1" min="0" id="input-service-goods-cost" class="form-control form-control-alternative" placeholder="Наценка на з/ч, %"
                           [(ngModel)]="model.serviceGoodsCost" name="serviceGoodsCost">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Контактная информация</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Email (не обязательно к заполнению)"
                           [(ngModel)]="model.email" name="email">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone">Телефон</label>
                    <input type="text" id="input-phone" class="form-control form-control-alternative" placeholder="Телефон"
                           [(ngModel)]="model.phone" name="phone">
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="model.userClient && userService.isSameUser( model )">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" id="check-allow-sms" class="form-check-input"
                             [(ngModel)]="model.allowSms" name="allowSms">
                      <label class="form-control-label" for="check-allow-sms">Разрешение на отправку SMS-уведомлений</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Roles -->
            <h6 class="heading-small text-muted mb-4">Роли</h6>
            <div class="pl-lg-4" *ngIf="model != null">
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label">Роль</label>
                  <span class="form-control form-control-alternative" *ngFor="let role of model.roles">
                    {{role.nameRus}}
                  </span>
                </div>
                <div class="col-lg-6" *ngIf="userService.isAdmin() && ( model.userClient || model.userServiceLeaderOrFreelancer )">
                  <div class="form-group">
                    <label class="form-control-label" for="moderator-select">Модератор</label>
                    <select id="moderator-select" class="form-control form-control-alternative" [(ngModel)]="model.moderatorId" [ngModelOptions]="{standalone: true}">
                      <option [selected]="model.moderatorId === null" [ngValue]="null">
                        Без модератора
                      </option>
                      <option [selected]="model.moderatorId === moderator.id" *ngFor="let moderator of moderators" [ngValue]="moderator.id" >
                        {{ moderator.fio }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="userService.isSameUser( model ) && model.userServiceLeaderOrFreelancer">
              <hr class="my-4" />
              <!-- Subscriptions -->
              <h6 class="heading-small text-muted mb-4">Тариф по умолчанию</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <ng-container *ngFor="let subscriptionType of subscriptionTypes">
                    <div class="col" *ngIf="!subscriptionType.isFree && !subscriptionType.isInactive">
                      <div class="card mb-2" style="min-width: 230px;">
                        <div class="card-header">
                          <h3 class="mb-0">
                            {{subscriptionType.name}}
                          </h3>
                        </div>

                        <div class="card-body">

                          <div class="row form-group">
                            <div class="col">
                              Стоимость, руб.
                            </div>
                            <div class="col-auto h3 mb-0">
                              {{subscriptionType.cost | number : '.2' : 'ru'}}
                            </div>
                          </div>

                          <div class="row form-group">
                            <div class="col">
                              Количество доступных заказ-нарядов
                            </div>
                            <div class="col-auto h3 mb-0">
                              {{subscriptionType.documentsCount}}
                            </div>
                          </div>

                          <div class="row form-group">
                            <div class="col">
                              Стоимость заказ-наряда, руб.
                            </div>
                            <div class="col-auto h3 mb-0">
                              {{subscriptionType.documentCost}}
                            </div>
                          </div>

                          <div class="row form-group">
                            <div class="col">
                              Длительность, дней
                            </div>
                            <div class="col-auto h3 mb-0">
                              {{subscriptionType.durationDays}}
                            </div>
                          </div>

                          <button class="btn btn-buro-blue btn-block" (click)="model.subscriptionTypeId = subscriptionType.id"
                                  [disabled]="model.subscriptionTypeId === subscriptionType.id">
                            <span *ngIf="model.subscriptionTypeId === subscriptionType.id">Выбран</span>
                            <span *ngIf="model.subscriptionTypeId !== subscriptionType.id">Выбрать</span>
                          </button>

                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
<!--            <ng-container *ngIf="userService.isSameUser( model ) && model.userServiceLeaderOrFreelancer">-->
<!--              <hr class="my-4" />-->
<!--              &lt;!&ndash; Shops &ndash;&gt;-->
<!--              <h6 class="heading-small text-muted mb-4">Магазины</h6>-->
<!--              <div class="pl-lg-4">-->
<!--                <div class="row">-->
<!--                  <ng-container *ngFor="let shop of shops">-->
<!--                    <div class="col-auto">-->
<!--                      <div class="img-container" (click)="manageShop(model, shop.id)" [ngClass]="{ active: containsShop(model, shop.id) }">-->
<!--                        <img src="assets/img/shops/{{shop.imgName}}" class="shop-image" alt="{{shop.name}}"/>-->
<!--                        <div class="selected-overlay">-->
<!--                          <i class="fas fa-check"></i>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="text-center shop-name">-->
<!--                        {{shop.name}}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </ng-container>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-container>-->
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4" *ngIf="model != null && ( model.userClient || model.userServiceLeaderOrFreelancer )">
      <div class="card bg-secondary shadow">

        <div class="card-header bg-white border-0">
          <app-loading-bar [isLoading]="isADLoading || userService.isSaving"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-md mb-3">
              <h3 class="mb-0">АвтоДилер</h3>
            </div>
            <div class="col-auto text-right" *ngIf="userService.isSameUser( model )">

              <button class="btn btn-sm btn-buro-blue" *ngIf="model.userClient"
                      [disabled]="model.isApproved || userService.isSaving || clientResponse == null || ( clientResponse.id == model.clientId )"
                      (click)="linkClient(model)">
                Привязать
              </button>

              <button class="btn btn-sm btn-buro-blue" *ngIf="model.userServiceLeader"
                      [disabled]="model.isApproved || userService.isSaving || organizationResponse == null || ( organizationResponse.id == model.organizationId )"
                      (click)="linkOrganization(model)">
                Привязать
              </button>

              <button class="btn btn-sm btn-buro-blue" *ngIf="model.userFreelancer"
                      [disabled]="model.isApproved || userService.isSaving || model.organizationId == null ||
                      model.managerId == null"
                      (click)="linkManager(model)">
                Привязать
              </button>

              <button class="btn btn-sm btn-danger" (click)="removeLink( model )" [disabled]="model.clientId == null && model.organizationId == null">
                Удалить
              </button>

            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-lg-12" *ngIf="userService.isSameUser( model )">

              <div class="form-group" *ngIf="model.userClient">

                <label class="form-control-label" for="vin-number">VIN - номер</label>
                <div class="input-group mb-3">
                  <input type="text" id="vin-number" class="form-control" placeholder="VIN - номер" [disabled]="model.isApproved"
                         [(ngModel)]="model.vin" name="vinNumber">
                  <div class="input-group-append">
                    <button class="btn btn-buro-blue" type="button" (click)="findClientByVin()"
                            [disabled]="model.isApproved || model.vin == null || model.vin.length == 0 || isADLoading">
                      Найти
                    </button>
                  </div>
                </div>

              </div>

              <div class="form-group" *ngIf="model.userServiceLeader">

                <label class="form-control-label" for="vin-number">ИНН</label>
                <div class="input-group mb-3">
                  <input type="text" id="inn" class="form-control" placeholder="ИНН" [disabled]="model.isApproved"
                         [(ngModel)]="model.inn" name="inn">
                  <div class="input-group-append">
                    <button class="btn btn-buro-blue" type="button" (click)="findOrganizationByInn()"
                            [disabled]="model.isApproved || model.inn == null || model.inn.length == 0 || isADLoading">
                      Найти
                    </button>
                  </div>
                </div>

              </div>

              <div class="form-group" *ngIf="model.userFreelancer">

                <div class="row form-group">
                  <div class="col">
                    <label class="form-control-label" for="organization-select">Организация</label>
                    <select id="organization-select" class="form-control form-control-sm form-control-alternative"
                            (ngModelChange)="requestManagers($event, true)" [disabled]="model.isApproved"
                            [ngModel]="model.organizationId">
                      <option [selected]="model.organizationId != null && model.organizationId === organization.id" [ngValue]="organization.id"
                              *ngFor="let organization of organizations">
                        {{organization.fullName}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col">
                    <label class="form-control-label" for="manager-select">Менеджер</label>
                    <select id="manager-select" class="form-control form-control-sm form-control-alternative"
                            [disabled]="model.isApproved"
                            [(ngModel)]="model.managerId">
                      <option [selected]="model.managerId != null && model.managerId === manager.id" [ngValue]="manager.id"
                              *ngFor="let manager of managers">
                        {{manager.fullName}}
                      </option>
                    </select>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-lg-12" *ngIf="model != null">

              <div class="form-group" *ngIf="model.userClient && clientResponse != null">
                <label class="form-control-label" for="client-full-name">Имя клиента</label>
                <input type="text" id="client-full-name" class="form-control form-control-alternative" placeholder="Имя клиента"
                       disabled [value]="clientResponse.fullName" name="clientFullName">
              </div>

              <div class="form-group" *ngIf="model.userServiceLeader && organizationResponse != null">
                <label class="form-control-label" for="organization-full-name">Наименование предприятия</label>
                <input type="text" id="organization-full-name" class="form-control form-control-alternative" placeholder="Наименование предприятия"
                       disabled [value]="organizationResponse.fullName" name="organizationFullName">
              </div>

              <div class="form-group" *ngIf="( model.userServiceLeaderOrFreelancer && model.organizationId == null ) ||
              ( model.userFreelancer && model.managerId == null ) || ( model.userClient && model.clientId == null )">
                <span class="form-control form-control-alternative">Необходимо выполнить привязку к системе АвтоДилер</span>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
