.img-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.img-container > .shop-image {
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  width: 125px;
  height: 125px;
}
.img-container > .selected-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #60B61C;
  background: rgba(96, 182, 28, 0.1);
  display: none;
  border: 2px solid #60B61C;
}
.img-container:hover > .shop-image {
  border-color: #60B61C;
}
.img-container.active > .selected-overlay {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.shop-name {
  max-width: 125px;
  margin-bottom: 5px;
}
