<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
          <div class="row align-items-center">
            <div class="col-sm mb-3">
              <h3 class="mb-0">
                Последние 5 заказ-нарядов
              </h3>
            </div>
            <div class="col-auto">
              <button class="btn btn-sm btn-buro-green" (click)="requestData()"
                      [disabled]="isLoading || userService.isServiceLeaderWithEmptySubscription()">
                Обновить
              </button>
              <a class="btn btn-sm btn-buro-green" [routerLink]="['/documents']">Посмотреть все</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Номер</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Состояние</th>
                <th scope="col">Клиент</th>
                <th scope="col">Автомобиль</th>
                <th scope="col">Гос. номер</th>
                <th scope="col">Сумма, руб.</th>
              </tr>
            </thead>
            <ng-container *ngIf="userService.isServiceLeaderWithEmptySubscription(); else documentsBlock">
              <tbody>
              <tr>
                <th colspan="8" class="text-muted text-center">
                  Для просмотра заказ-нарядов необходимо оформить тариф. Список тарифов доступен в соответсвующем пункте меню.
                </th>
              </tr>
              </tbody>
            </ng-container>
            <ng-template #documentsBlock>
              <tbody *ngIf="documentResponseController.last5 != null">
              <tr *ngFor="let fbResponse of documentResponseController.last5.content, let i = index" [attr.data-index]="i" style="cursor: pointer;" (click)="navigate(fbResponse)">
                <th>{{fbResponse.documentNumber}}</th>
                <th>{{fbResponse.startDate}}</th>
                <th>{{fbResponse.endDate}}</th>
                <th>
                  <span class="badge badge-dot">
                    <i class="bg-{{fbResponse.style}}"></i>{{fbResponse.stateRus}}
                  </span>
                </th>
                <th>{{fbResponse.client}}</th>
                <th>{{fbResponse.vehicle.name}}</th>
                <th>{{fbResponse.vehicle.regNumber}}</th>
                <th>{{fbResponse.sum | number:'.2':'ru'}}</th>
              </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
