<div class="header bg-gradient-invert-buro-orange pb-8 pt-5 pt-md-7">
  <div class="container-fluid">
    <div class="header-body">
      <div class="yandex-ad-row mb-4">
        <!-- Yandex.RTB R-A-624145-1 -->
        <div id="yandex_rtb_R-A-624145-1"></div>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="card-body" *ngIf="userService.isClient()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Всего заказ-нарядов</h5>
                </div>
                <div class="col-auto" *ngIf="clientInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{clientInfo.totalDocuments}}</span>
                </div>
              </div>
            </div>

            <div class="card-body" *ngIf="userService.isServiceLeaderOrFreelancer() || userService.isAdmin()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Всего заказ-нарядов</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalDocuments}}</span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">В статусе "Оформлен"</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalDocumentsCompleted}}</span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">В статусе "В работе"</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalDocumentsInWork}}</span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">В статусе "Заявка"</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalDocumentsCreated}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="card-body" *ngIf="userService.isClient()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общая сумма ремонтов</h5>
                </div>
                <div class="col-auto" *ngIf="clientInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{clientInfo.totalSum | number : '.2' : 'ru'}}</span>
                </div>
              </div>
            </div>

            <div class="card-body" *ngIf="userService.isServiceLeaderOrFreelancer() || userService.isAdmin()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общая сумма ремонтов</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalSum | number : '.2' : 'ru'}}</span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общее количество отремонтированных машин</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalVehicles}}</span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общее количество обслуживаемых автовладельцев</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.totalClients}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="card-body" *ngIf="userService.isClient()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общее количество отремонтированных машин</h5>
                </div>
                <div class="col-auto" *ngIf="clientInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{clientInfo.totalVehicles}}</span>
                </div>
              </div>
            </div>

            <div class="card-body" *ngIf="userService.isServiceLeaderOrFreelancer() || userService.isAdmin()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Текущий баланс</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0" [ngClass]="{'text-danger': serviceLeaderInfo.totalBalance < 0}">
                    {{serviceLeaderInfo.totalBalance | number : '.2' : 'ru'}}
                  </span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Окончание опции "Реклама"</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0"
                        [ngClass]="{
                        'text-warning': isLessThen3DaysRemains( serviceLeaderInfo.adSubscriptionEndDate ),
                        'text-danger': isExpired( serviceLeaderInfo.adSubscriptionEndDate )
                        }">
                    {{serviceLeaderInfo.adSubscriptionEndDate | date : 'dd.MM.yyyy'}}
                  </span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Продление опции "Реклама" возможно</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null && serviceLeaderInfo.adSubscriptionAvailable != null">
                  <span class="h4 font-weight-bold mb-0" [ngClass]="{'text-danger': !serviceLeaderInfo.adSubscriptionAvailable}">
                    {{serviceLeaderInfo.adSubscriptionAvailable ? 'Да' : 'Нет'}}
                  </span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Окончание опции "Оператор"</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0"
                        [ngClass]="{
                        'text-warning': isLessThen3DocumentsRemains( serviceLeaderInfo.operatorSubscriptionEndDate ),
                        'text-danger': isDocumentsExpired( serviceLeaderInfo.operatorSubscriptionEndDate )
                        }">
                    {{serviceLeaderInfo.operatorSubscriptionEndDate}}
                  </span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Продление опции "Оператор" возможно</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null && serviceLeaderInfo.operatorSubscriptionAvailable != null">
                  <span class="h4 font-weight-bold mb-0" [ngClass]="{'text-danger': !serviceLeaderInfo.operatorSubscriptionAvailable}">
                    {{serviceLeaderInfo.operatorSubscriptionAvailable ? 'Да' : 'Нет'}}
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="card-body" *ngIf="userService.isClient()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общее количество использованных автосервисов</h5>
                </div>
                <div class="col-auto" *ngIf="clientInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{clientInfo.totalServices}}</span>
                </div>
              </div>
            </div>

            <div class="card-body" *ngIf="userService.isServiceLeaderOrFreelancer() || userService.isAdmin()">
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Среднее количество просмотров рекламы в день</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.averageAdView}}</span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Эффект от рекламы по пяти бальной системе</h5>
                </div>
                <div class="col-auto" *ngIf="serviceLeaderInfo != null">
                  <span class="h4 font-weight-bold mb-0">{{serviceLeaderInfo.adEfficiency}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
