<div class="header bg-gradient-invert-buro-orange pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общее количество заказ-нарядов</h5>
                  <span class="h2 font-weight-bold mb-0" *ngIf="!documentsCountLoading; else loadingSpinner">{{documentsCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-buro-green text-white rounded-circle shadow">
                    <i class="fas fa-copy"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body" *ngIf="currentUser">
              <div class="row" *ngIf="currentUser.moderator || currentUser.admin; else draftBlock">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Общее количество пользователей</h5>
                  <span class="h2 font-weight-bold mb-0" *ngIf="!usersCountLoading; else loadingSpinner">{{usersCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-buro-green text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body" *ngIf="currentUser">
              <div class="row" *ngIf="currentUser.moderator || currentUser.admin; else cleanBlock">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Количество неподтвержденных пользователей</h5>
                  <span class="h2 font-weight-bold mb-0" *ngIf="!usersNotApprovedCountLoading; else loadingSpinner">{{usersNotApprovedCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-buro-green text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Баланс</h5>
                  <span class="h2 font-weight-bold mb-0">125 434 Р</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-buro-green text-white rounded-circle shadow">
                    <i class="fas fa-ruble-sign"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <span class="h2 font-weight-bold mb-0"><i class="fas fa-spin fa-spinner"></i></span>
</ng-template>
<ng-template #draftBlock>
  <div class="row">
    <div class="col">
      <h5 class="card-title text-uppercase text-muted mb-0">Заказ-наряды в статусе "Черновик"</h5>
      <span class="h2 font-weight-bold mb-0" *ngIf="!documents2CountLoading; else loadingSpinner">{{documents2Count}}</span>
    </div>
    <div class="col-auto">
      <div class="icon icon-shape bg-buro-green text-white rounded-circle shadow">
        <i class="fas fa-copy"></i>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #cleanBlock>
  <div class="row">
    <div class="col">
      <h5 class="card-title text-uppercase text-muted mb-0">Заказ-наряды в статусе "Оформлен"</h5>
      <span class="h2 font-weight-bold mb-0" *ngIf="!documents4CountLoading; else loadingSpinner">{{documents4Count}}</span>
    </div>
    <div class="col-auto">
      <div class="icon icon-shape bg-buro-green text-white rounded-circle shadow">
        <i class="fas fa-copy"></i>
      </div>
    </div>
  </div>
</ng-template>
