/* You can add global styles to this file, and also import other style files */
.card-header, .card-footer {
  position: relative;
}

.title-helper {
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.alert-sm {
  padding: 3px 6px !important;
}
