<configuration>

<system.webServer>

  <rewrite>

    <rules>

      <rule name="Angular Routes" stopProcessing="true">

        <match url=".*" />

        <conditions logicalGrouping="MatchAll">

          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

          <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />

          <add input="{REQUEST_URI}" pattern="^/(demo)" negate="true" />

        </conditions>

        <action type="Rewrite" url="/" />

        <!--<action type="Rewrite" url="/" />-->

      </rule>

      <rule name="Api Proxy" enabled="true" stopProcessing="true">
                <match url="api/(.*)" />
                <action type="Rewrite" url="http://127.0.0.1:8181/api/{R:1}" />
      </rule>

      <rule name="Demo Proxy" enabled="true" stopProcessing="true">
                <match url="demo/(.*)" />
                <action type="Rewrite" url="http://127.0.0.1:8282/api/{R:1}" />
      </rule>

    </rules>

  </rewrite>

  <security>
          <requestFiltering allowDoubleEscaping="true" />
  </security>

</system.webServer>

</configuration>
