<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/buromotors.png" class="navbar-brand-img" alt="...">
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="auto" *ngIf="userService.currentUser && ( userService.currentUser.moderator || userService.currentUser.admin )">
        <a class="nav-link pr-0" style="cursor: pointer;" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <i class="fas fa-bell"></i>
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right event-list" ngbDropdownMenu>
          <ng-container *ngIf="eventMessageResponseService.messages.length === 0">
            <div class="dropdown-item-text small text-muted">
              Уведомления не найдены...
            </div>
          </ng-container>
          <ng-container *ngIf="eventMessageResponseService.messages.length > 0">
            <div class="dropdown-item-text small" *ngFor="let message of eventMessageResponseService.messages">
              {{message.messageDate | date : 'dd.MM.yyyy HH:mm'}}
              <div *ngIf="message.messageType === 'DOCUMENT_CHANGE'">
                Пользователь <a [routerLink]="['/users', message.fromId]">{{message.fromFio}}</a> изменил документ <a [routerLink]="['/documents', message.documentId]">{{message.documentName}}</a>:
                <div class="text-muted">
                  {{message.additionalInformation}}
                </div>
              </div>
              <div *ngIf="message.messageType === 'MODERATOR_REPLACEMENT'">
                Модератор {{message.fromFio}} назначил вас своим замещающим
              </div>
              <div *ngIf="message.messageType === 'USER_REGISTER'">
                Пользователь {{message.fromFio}} зарегистрировался на сайте
              </div>
              <div *ngIf="message.messageType === 'USER_REGISTER'">
                Пользователь {{message.fromFio}} совершил привязку к системе АвтоДилер
              </div>
            </div>
          </ng-container>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="auto">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <i class="fa fa-user-tie"></i>
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Добро пожаловать</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="fas fa-user text-buro-green"></i>
            <span>Профиль</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="fa fa-sign-out-alt text-buro-green"></i>
            <span>Выйти</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/buromotors.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <ul class="navbar-nav">
        <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link"
           *ngIf="userService.currentUser != null && !userService.currentUser.client">
            <i class="fas fa-tv text-buro-green"></i> Главная
        </a>
        <a routerLinkActive="active" [routerLink]="['/chat']" class="nav-link"
           *ngIf="userService.currentUser != null && !userService.currentUser.client">
            <i class="fas fa-comments text-buro-green"></i> Чат
        </a>
        <a routerLinkActive="active" [routerLink]="['/documents']" class="nav-link">
            <i class="fas fa-list text-buro-green"></i> Заказ-наряды
        </a>
        <a routerLinkActive="active" [routerLink]="['/user-profile']" class="nav-link">
            <i class="fas fa-user text-buro-green"></i> Профиль
        </a>
        <a routerLinkActive="active" [routerLink]="['/users']" class="nav-link"
           *ngIf="userService.currentUser != null && ( userService.currentUser.admin || userService.currentUser.moderator )">
            <i class="fas fa-users text-buro-green"></i> Пользователи
        </a>
        <a routerLinkActive="active" [routerLink]="['/reports']" class="nav-link"
           *ngIf="userService.currentUser != null &&  ( userService.currentUser.admin ||
           userService.currentUser.moderator || userService.currentUser.serviceLeader)">
            <i class="fas fa-copy text-buro-green"></i> Отчеты
        </a>
        <a routerLinkActive="active" [routerLink]="['/event-messages']" class="nav-link"
           *ngIf="userService.currentUser != null && ( userService.currentUser.admin || userService.currentUser.moderator )">
          <i class="fas fa-bell text-buro-green"></i> Уведомления
        </a>
      </ul>
    </div>
  </div>
</nav>
